/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.btn_s_default {
  width: 5.2083333333vw;
  height: 2.0833333333vw;
  display: block;
  text-decoration: none;
  line-height: 2.0833333333vw;
  font-size: 0.9375vw;
  background-color: #FFFFFF;
  color: #292929;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  font-family: "Noto Sans TC", sans-serif;
  padding: 0;
  transition: all 0.3s ease;
  border: 1px solid #8C8C8C;
  text-align: center;
}
@media screen and (max-width: 415px) {
  .btn_s_default {
    font-size: 3.8647342995vw;
  }
}
.btn_s_default:hover {
  background: #D6D6D6;
}
@media screen and (max-width: 415px) {
  .btn_s_default {
    padding-left: 1.9323671498vw;
    padding-right: 1.9323671498vw;
    width: 24.154589372vw;
    height: 9.6618357488vw;
    line-height: 9.6618357488vw;
  }
}

.btn_s_remind {
  width: 5.2083333333vw;
  height: 2.0833333333vw;
  display: block;
  text-decoration: none;
  line-height: 2.0833333333vw;
  font-size: 0.9375vw;
  background-color: #AE2000;
  color: #FFFFFF;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  font-family: "Noto Sans TC", sans-serif;
  padding: 0;
  transition: all 0.3s ease;
  text-align: center;
}
@media screen and (max-width: 415px) {
  .btn_s_remind {
    font-size: 3.8647342995vw;
  }
}
.btn_s_remind:hover {
  background: #FF3434;
}
@media screen and (max-width: 415px) {
  .btn_s_remind {
    padding-left: 1.9323671498vw;
    padding-right: 1.9323671498vw;
    width: 24.154589372vw;
    height: 9.6618357488vw;
    line-height: 9.6618357488vw;
  }
}

.btn_m {
  width: 13.0208333333vw;
  height: 2.0833333333vw;
  display: block;
  text-decoration: none;
  line-height: 2.0833333333vw;
  font-size: 0.9375vw;
  background-color: #AE2000;
  color: #FFFFFF;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  font-family: "Noto Sans TC", sans-serif;
  padding: 0;
  transition: all 0.3s ease;
  padding-left: 0.8333333333vw;
  padding-right: 0.8333333333vw;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 415px) {
  .btn_m {
    font-size: 3.8647342995vw;
  }
}
.btn_m:hover {
  background: #FF3434;
}
@media screen and (max-width: 415px) {
  .btn_m {
    padding-left: 1.9323671498vw;
    padding-right: 1.9323671498vw;
    width: 60.38647343vw;
    height: 9.6618357488vw;
    line-height: 9.6618357488vw;
  }
}

.btn_l {
  width: 27.6041666667vw;
  height: 2.0833333333vw;
  display: block;
  text-decoration: none;
  line-height: 2.0833333333vw;
  font-size: 0.9375vw;
  background-color: #AE2000;
  color: #FFFFFF;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  font-family: "Noto Sans TC", sans-serif;
  padding: 0;
  transition: all 0.3s ease;
  padding-left: 0.8333333333vw;
  padding-right: 0.8333333333vw;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 415px) {
  .btn_l {
    font-size: 3.8647342995vw;
  }
}
.btn_l:hover {
  background: #FF3434;
}
@media screen and (max-width: 415px) {
  .btn_l {
    padding-left: 1.9323671498vw;
    padding-right: 1.9323671498vw;
    width: 80.4347826087vw;
    height: 9.6618357488vw;
    line-height: 9.6618357488vw;
  }
}

.btn_xl {
  width: 35.6770833333vw;
  height: 2.0833333333vw;
  display: block;
  text-decoration: none;
  line-height: 2.0833333333vw;
  font-size: 0.9375vw;
  background-color: #AE2000;
  color: #FFFFFF;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  font-family: "Noto Sans TC", sans-serif;
  padding: 0;
  transition: all 0.3s ease;
  padding-left: 0.8333333333vw;
  padding-right: 0.8333333333vw;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 415px) {
  .btn_xl {
    font-size: 3.8647342995vw;
  }
}
.btn_xl:hover {
  background: #FF3434;
}
@media screen and (max-width: 415px) {
  .btn_xl {
    padding-left: 1.9323671498vw;
    padding-right: 1.9323671498vw;
    width: 80.4347826087vw;
    height: 9.6618357488vw;
    line-height: 9.6618357488vw;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 72.9166666667vw;
}
.title h2 {
  font-size: 2.5vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .title h2 {
    font-size: 7.2463768116vw;
  }
}
.title p {
  font-size: 0.9375vw;
  color: #747474;
}
@media screen and (max-width: 415px) {
  .title p {
    font-size: 3.8647342995vw;
  }
}
@media screen and (max-width: 415px) {
  .title p {
    display: none;
  }
}
.title div {
  width: 100%;
  height: 0.15625vw;
  background-color: #DDDDDD;
  margin-top: 0.8333333333vw;
}
@media screen and (max-width: 415px) {
  .title div {
    margin-top: 3.8647342995vw;
    height: 0.7246376812vw;
  }
}

.infocard_s {
  width: 36.40625vw;
  height: 10.9895833333vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2.0833333333vw 1.5625vw 1.4583333333vw 2.0833333333vw;
}
.infocard_s h3 {
  font-size: 1.875vw;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 415px) {
  .infocard_s h3 {
    font-size: 7.2463768116vw;
  }
}
.infocard_s div {
  width: 100%;
  background-color: #DDDDDD;
}
.infocard_s h5 {
  font-size: 1.0416666667vw;
  font-weight: bold;
  font-weight: normal;
  color: #747474;
}
@media screen and (max-width: 415px) {
  .infocard_s h5 {
    font-size: 4.8309178744vw;
  }
}
.infocard_s p {
  font-size: 0.9375vw;
  color: #747474;
}
@media screen and (max-width: 415px) {
  .infocard_s p {
    font-size: 3.8647342995vw;
  }
}
.infocard_s p:last-of-type {
  color: #292929;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .infocard_s {
    width: 168.8405797101vw;
    height: 50.9661835749vw;
  }
}
.infocard_s div {
  height: 0.15625vw;
}
@media screen and (max-width: 415px) {
  .infocard_s {
    width: 82.8502415459vw;
    height: 50.9661835749vw;
    padding: 7.729468599vw 3.8647342995vw 4.8309178744vw 4.8309178744vw;
  }
  .infocard_s h3 {
    font-size: 1.0416666667vw;
    font-weight: bold;
    margin-bottom: 3.8647342995vw;
  }
}
@media screen and (max-width: 415px) and (max-width: 415px) {
  .infocard_s h3 {
    font-size: 4.8309178744vw;
  }
}
@media screen and (max-width: 415px) {
  .infocard_s div {
    height: 0.2415458937vw;
    margin-top: 2.8985507246vw;
    margin-bottom: 4.8309178744vw;
  }
}

.infocard_m {
  width: 39.6354166667vw;
  height: 19.6875vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5vw 0vw 4.1666666667vw 0.8333333333vw;
}
.infocard_m h3 {
  font-size: 1.875vw;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 415px) {
  .infocard_m h3 {
    font-size: 7.2463768116vw;
  }
}
.infocard_m div {
  width: 100%;
  background-color: #DDDDDD;
}
.infocard_m h5 {
  font-size: 1.0416666667vw;
  font-weight: bold;
  font-weight: normal;
  color: #747474;
}
@media screen and (max-width: 415px) {
  .infocard_m h5 {
    font-size: 4.8309178744vw;
  }
}
.infocard_m p {
  font-size: 0.9375vw;
  color: #747474;
}
@media screen and (max-width: 415px) {
  .infocard_m p {
    font-size: 3.8647342995vw;
  }
}
.infocard_m p:last-of-type {
  color: #292929;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .infocard_m {
    width: 183.8164251208vw;
    height: 91.3043478261vw;
  }
}
.infocard_m h5:first-of-type {
  width: 31.25vw;
}
.infocard_m div {
  height: 0.0520833333vw;
  margin-top: 2.5vw;
  margin-bottom: 0.625vw;
}
.infocard_m p:last-of-type {
  font-size: 1.0416666667vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .infocard_m p:last-of-type {
    font-size: 4.8309178744vw;
  }
}
@media screen and (max-width: 415px) {
  .infocard_m {
    width: 90.5797101449vw;
    height: 61.1111111111vw;
    padding: 8.6956521739vw 2.8985507246vw 5.7971014493vw 5.3140096618vw;
  }
  .infocard_m h3 {
    font-size: 1.25vw;
    font-weight: bold;
    margin-bottom: 3.8647342995vw;
  }
}
@media screen and (max-width: 415px) and (max-width: 415px) {
  .infocard_m h3 {
    font-size: 5.7971014493vw;
  }
}
@media screen and (max-width: 415px) {
  .infocard_m h5 {
    font-size: 0.9375vw;
  }
}
@media screen and (max-width: 415px) and (max-width: 415px) {
  .infocard_m h5 {
    font-size: 3.8647342995vw;
  }
}
@media screen and (max-width: 415px) {
  .infocard_m h5:first-of-type {
    width: 65.2173913043vw;
  }
}
@media screen and (max-width: 415px) {
  .infocard_m div {
    height: 0.2415458937vw;
    margin-top: 8.6956521739vw;
    margin-bottom: 4.8309178744vw;
  }
}
@media screen and (max-width: 415px) {
  .infocard_m p:last-of-type {
    font-size: 0.9375vw;
  }
}
@media screen and (max-width: 415px) and (max-width: 415px) {
  .infocard_m p:last-of-type {
    font-size: 3.8647342995vw;
  }
}

/* --------------- header ---------------*/
header {
  display: flex;
  width: 100%;
  background-color: #3F3F3F;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 415px) {
  header {
    justify-content: left;
  }
}
header .logo {
  margin-right: 32.65625vw;
}
header .logo img {
  width: 3.4375vw;
}
@media screen and (max-width: 415px) {
  header .logo img {
    width: 7.729468599vw;
  }
}
header nav ul {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 415px) {
  header nav ul {
    display: none;
  }
}
header nav ul li {
  margin-right: 1.8229166667vw;
}
header nav ul li a {
  text-decoration: none;
  color: #F0EFEB;
  font-size: 1.25vw;
  font-weight: bold;
  font-weight: normal;
}
@media screen and (max-width: 415px) {
  header nav ul li a {
    font-size: 5.7971014493vw;
  }
}
header nav ul li a i {
  font-size: 2.6041666667vw;
}

/* --------------- footer ---------------*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #3F3F3F;
  color: #F0EFEB;
  padding-top: 0.8333333333vw;
  padding-bottom: 0.8333333333vw;
  margin-top: 3.75vw;
}
footer p {
  font-size: 0.9375vw;
  line-height: 1.6666666667vw;
}
@media screen and (max-width: 415px) {
  footer p {
    font-size: 3.8647342995vw;
  }
}
footer div h4 {
  margin-top: 2.9166666667vw;
  margin-bottom: 1.25vw;
  font-size: 1.25vw;
  font-weight: bold;
  font-weight: normal;
}
@media screen and (max-width: 415px) {
  footer div h4 {
    font-size: 5.7971014493vw;
  }
}
footer .footer_left {
  width: 41.6666666667vw;
}
footer .footer_right {
  width: 32.2916666667vw;
  padding-left: 2.7083333333vw;
}
footer .footer_right a {
  display: inline-block;
  width: 2.0833333333vw;
  height: 2.0833333333vw;
  background-color: #F0EFEB;
}
footer .footer_right input {
  display: inline-block;
  height: 2.0833333333vw;
  border-radius: 0;
  border: none;
  font-size: 0.8333333333vw;
  line-height: 0.8333333333vw;
  margin-right: 0.4166666667vw;
}
footer .footer_right input:first-of-type {
  width: 18.75vw;
}
footer .footer_right p {
  margin-top: 2.9166666667vw;
}
footer > p {
  width: 73.9583333333vw;
  margin-top: 2.0833333333vw;
}
footer > p a {
  text-decoration: underline;
  color: #F0EFEB;
}

.back {
  width: 17.1354166667vw;
  height: 100%;
  background-color: #3F3F3F;
}
.back .user {
  display: flex;
  align-items: center;
  margin-bottom: 2.65625vw;
  padding-top: 2.5vw;
  padding-left: 1.6145833333vw;
}
.back .user .user_head {
  width: 4.5833333333vw;
  height: 4.5833333333vw;
  background-color: pink;
  border-radius: 50%;
}
.back .user p {
  font-size: 1.875vw;
  font-weight: bold;
  color: #F0EFEB;
  margin-left: 0.9375vw;
}
.back ul {
  padding-left: 2.1875vw;
}
.back ul li {
  padding-bottom: 1.6666666667vw;
}
.back ul li .kids {
  font-weight: normal;
  margin-left: 2.8645833333vw;
}
.back ul li a {
  text-decoration: none;
  color: #292929;
  font-size: 1.25vw;
  font-weight: bold;
  color: #F0EFEB;
  display: block;
}
.back ul li a .fa-gear {
  font-size: 1.25vw;
  color: #F0EFEB;
  margin-right: 1.5104166667vw;
}
.back ul li a .fa-angle-right {
  margin-left: 0.8854166667vw;
}
.back ul li .logout {
  margin-left: 2.8645833333vw;
}

.about1 {
  margin: 0 auto;
  width: 73.9583333333vw;
  margin-top: 3.75vw;
}
.about1 .about1_img1 {
  width: 72.9166666667vw;
  margin-bottom: 3.0208333333vw;
}
.about1 .about1_p {
  font-size: 0.9375vw;
  width: 56.25vw;
  line-height: 2;
  letter-spacing: 0.2604166667vw;
  margin-top: 1.8229166667vw;
  margin-left: 1.8229166667vw;
}
@media screen and (max-width: 415px) {
  .about1 .about1_p {
    font-size: 3.8647342995vw;
  }
}

.line_spacing {
  width: 86.4583333333vw;
  height: 0.15625vw;
  margin-left: auto;
  margin-top: 4.9479166667vw;
  margin-bottom: 4.9479166667vw;
  background-color: #292929;
}

.about3 {
  margin: 0 auto;
  width: 73.9583333333vw;
}
.about3 .about3_inner {
  display: flex;
  width: 62.1875vw;
  margin: 0 auto;
  margin-top: 5.1041666667vw;
}
.about3 .about3_inner .about3_img1 {
  height: 28.2291666667vw;
  margin-right: 2.65625vw;
  margin-top: 1.875vw;
}
.about3 .about3_inner .about3_straight {
  margin-right: 2.8645833333vw;
  margin-left: 2.6041666667vw;
  width: 0.15625vw;
  height: 32.9166666667vw;
  background-color: #D6D6D6;
}
.about3 .about3_inner .about3_inner_right h3 {
  font-size: 1.875vw;
  font-weight: bold;
  margin-top: 1.4583333333vw;
  margin-bottom: 1.6666666667vw;
}
@media screen and (max-width: 415px) {
  .about3 .about3_inner .about3_inner_right h3 {
    font-size: 7.2463768116vw;
  }
}
.about3 .about3_inner .about3_inner_right p {
  font-size: 0.9375vw;
  line-height: 2;
  margin-bottom: 1.71875vw;
}
@media screen and (max-width: 415px) {
  .about3 .about3_inner .about3_inner_right p {
    font-size: 3.8647342995vw;
  }
}
.about3 .about3_inner .about3_inner_right .about3_line {
  height: 0.0520833333vw;
  background-color: #D6D6D6;
}

.about4 {
  margin: 0 auto;
  width: 73.9583333333vw;
}
.about4 .about4_inner {
  display: flex;
  margin: 0 auto;
  width: 72.9166666667vw;
  margin-top: 4.9479166667vw;
}
.about4 .about4_inner .about4_inner_left {
  margin-right: 5.0520833333vw;
}
.about4 .about4_inner .about4_inner_left .about4_img1 {
  width: 45.8333333333vw;
  margin-bottom: 1.6666666667vw;
}
.about4 .about4_inner .about4_inner_right h4 {
  font-size: 1.25vw;
  font-weight: bold;
  margin-bottom: 1.71875vw;
}
@media screen and (max-width: 415px) {
  .about4 .about4_inner .about4_inner_right h4 {
    font-size: 5.7971014493vw;
  }
}
.about4 .about4_inner .about4_inner_right h5 {
  font-size: 1.0416666667vw;
  font-weight: bold;
  margin-bottom: 0.8333333333vw;
  font-weight: lighter;
}
@media screen and (max-width: 415px) {
  .about4 .about4_inner .about4_inner_right h5 {
    font-size: 4.8309178744vw;
  }
}
.about4 .about4_inner .about4_inner_right .about4_line {
  height: 0.0520833333vw;
  background-color: #D6D6D6;
  margin-top: 3.75vw;
  margin-bottom: 3.75vw;
}

hr {
  height: 0.2083333333vw;
  margin-left: auto;
  margin-top: 4.9479166667vw;
  margin-bottom: 4.9479166667vw;
  background-color: #292929;
}

.about5 {
  margin: 0 auto;
  width: 73.9583333333vw;
}
.about5 .about5_inner {
  margin: 0 auto;
  width: 71.875vw;
}
.about5 .about5_inner .about5_inner_block {
  background-color: #292929;
  margin: 1.0416666667vw 0;
}
.about5 .about5_inner .about5_inner_block h3 {
  font-size: 1.875vw;
  font-weight: bold;
  color: #FFFFFF;
  height: 3.125vw;
  line-height: 3.125vw;
  margin-left: 0.5208333333vw;
}
@media screen and (max-width: 415px) {
  .about5 .about5_inner .about5_inner_block h3 {
    font-size: 7.2463768116vw;
  }
}
.about5 .about5_inner p {
  font-size: 0.9375vw;
  margin-bottom: 1.5625vw;
}
@media screen and (max-width: 415px) {
  .about5 .about5_inner p {
    font-size: 3.8647342995vw;
  }
}
.about5 .about5_inner ul {
  margin-top: 1.6666666667vw;
  list-style: decimal;
  margin-left: 1.0416666667vw;
}
.about5 .about5_inner ul li {
  margin-bottom: 1.6666666667vw;
}
.about5 .about5_inner ul li p {
  font-size: 0.9375vw;
}
@media screen and (max-width: 415px) {
  .about5 .about5_inner ul li p {
    font-size: 3.8647342995vw;
  }
}
.about5 .about5_inner img {
  margin-top: 3.125vw;
}

.about6 {
  margin: 0 auto;
  width: 73.9583333333vw;
}
.about6 .about6_inner {
  margin: 0 auto;
}
.about6 .about6_inner .about6_img1 {
  margin-top: 3.8541666667vw;
  height: 25vw;
}
.about6 .about6_inner h4 {
  font-size: 1.25vw;
  font-weight: bold;
  margin-top: 1.6666666667vw;
  margin-left: 1.8229166667vw;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner h4 {
    font-size: 5.7971014493vw;
  }
}
.about6 .about6_inner .about6_tip1 {
  margin-left: 1.8229166667vw;
  margin-top: 3.6458333333vw;
}
.about6 .about6_inner .about6_tip1 h4 {
  font-size: 1.25vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner .about6_tip1 h4 {
    font-size: 5.7971014493vw;
  }
}
.about6 .about6_inner .about6_tip1 .about6_line {
  background-color: #D6D6D6;
  margin-top: 1.8229166667vw;
  margin-bottom: 2.6041666667vw;
  margin-left: 1.8229166667vw;
  height: 0.0520833333vw;
  width: 15.625vw;
}
.about6 .about6_inner .about6_tip1 .about6_tip1_inner {
  margin-left: 1.8229166667vw;
  display: flex;
}
.about6 .about6_inner .about6_tip1 .about6_tip1_inner ul {
  width: 18.2291666667vw;
}
.about6 .about6_inner .about6_tip1 .about6_tip1_inner ul li {
  margin-bottom: 1.5625vw;
}
.about6 .about6_inner .about6_tip1 .about6_tip1_inner ul li p {
  font-size: 0.9375vw;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner .about6_tip1 .about6_tip1_inner ul li p {
    font-size: 3.8647342995vw;
  }
}
.about6 .about6_inner .about6_tip1 .about6_tip1_inner h2 {
  font-size: 2.5vw;
  font-weight: bold;
  margin-top: 1.5625vw;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner .about6_tip1 .about6_tip1_inner h2 {
    font-size: 7.2463768116vw;
  }
}
.about6 .about6_inner .about6_tip1 .about6_tip1_inner .station1 {
  font-size: 0.9375vw;
  margin-top: 2.34375vw;
  margin-left: 2.6041666667vw;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner .about6_tip1 .about6_tip1_inner .station1 {
    font-size: 3.8647342995vw;
  }
}
.about6 .about6_inner .about6_tip2 {
  margin-left: 1.8229166667vw;
  margin-top: 3.6458333333vw;
}
.about6 .about6_inner .about6_tip2 h4 {
  font-size: 1.25vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner .about6_tip2 h4 {
    font-size: 5.7971014493vw;
  }
}
.about6 .about6_inner .about6_tip2 .notice1 {
  font-size: 0.9375vw;
  margin-top: 2.6041666667vw;
  margin-left: 1.8229166667vw;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner .about6_tip2 .notice1 {
    font-size: 3.8647342995vw;
  }
}
.about6 .about6_inner .about6_tip2 .about6_line {
  background-color: #D6D6D6;
  margin-top: 1.8229166667vw;
  margin-bottom: 2.6041666667vw;
  margin-left: 1.8229166667vw;
  height: 0.0520833333vw;
  width: 15.625vw;
}
.about6 .about6_inner .about6_tip2 .about6_tip2_inner {
  margin-left: 1.8229166667vw;
  display: flex;
}
.about6 .about6_inner .about6_tip2 .about6_tip2_inner ul {
  width: 18.2291666667vw;
}
.about6 .about6_inner .about6_tip2 .about6_tip2_inner ul li {
  margin-bottom: 1.5625vw;
}
.about6 .about6_inner .about6_tip2 .about6_tip2_inner ul li p {
  font-size: 0.9375vw;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner .about6_tip2 .about6_tip2_inner ul li p {
    font-size: 3.8647342995vw;
  }
}
.about6 .about6_inner .about6_tip2 .about6_tip2_inner h2 {
  font-size: 2.5vw;
  font-weight: bold;
  margin-top: 1.5625vw;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner .about6_tip2 .about6_tip2_inner h2 {
    font-size: 7.2463768116vw;
  }
}
.about6 .about6_inner .about6_tip2 .about6_tip2_inner .station2 {
  font-size: 0.9375vw;
  margin-top: 2.34375vw;
  margin-left: 2.6041666667vw;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner .about6_tip2 .about6_tip2_inner .station2 {
    font-size: 3.8647342995vw;
  }
}
.about6 .about6_inner .about6_tip3 {
  margin-left: 1.8229166667vw;
  margin-top: 5.2083333333vw;
}
.about6 .about6_inner .about6_tip3 h4 {
  font-size: 1.25vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner .about6_tip3 h4 {
    font-size: 5.7971014493vw;
  }
}
.about6 .about6_inner .about6_tip3 .about6_line {
  background-color: #D6D6D6;
  margin-top: 1.8229166667vw;
  margin-bottom: 2.6041666667vw;
  margin-left: 1.8229166667vw;
  height: 0.0520833333vw;
  width: 20.8333333333vw;
}
.about6 .about6_inner .about6_tip3 p {
  font-size: 0.9375vw;
  margin-left: 1.8229166667vw;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner .about6_tip3 p {
    font-size: 3.8647342995vw;
  }
}
.about6 .about6_inner .about6_tip4 {
  margin-left: 1.8229166667vw;
  margin-top: 5.2083333333vw;
}
.about6 .about6_inner .about6_tip4 h4 {
  font-size: 1.25vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner .about6_tip4 h4 {
    font-size: 5.7971014493vw;
  }
}
.about6 .about6_inner .about6_tip4 .about6_line {
  background-color: #D6D6D6;
  margin-top: 1.8229166667vw;
  margin-bottom: 2.6041666667vw;
  margin-left: 1.8229166667vw;
  height: 0.0520833333vw;
  width: 20.8333333333vw;
}
.about6 .about6_inner .about6_tip4 p {
  font-size: 0.9375vw;
  margin-left: 1.8229166667vw;
}
@media screen and (max-width: 415px) {
  .about6 .about6_inner .about6_tip4 p {
    font-size: 3.8647342995vw;
  }
}

.event_0 {
  margin-top: 5vw;
  margin-bottom: 8.3333333333vw;
}
.event_0 h1 {
  font-size: 3.3333333333vw;
  font-weight: bold;
  color: #292929;
  margin-bottom: 1.6666666667vw;
  margin-left: 13.4375vw;
}
@media screen and (max-width: 415px) {
  .event_0 h1 {
    font-size: 8.6956521739vw;
  }
}
.event_0 .event_right_line {
  width: 86.4583333333vw;
  height: 0.15625vw;
  float: right;
  background-color: #292929;
}

.event_now {
  max-width: 100%;
  width: 100%;
}
.event_now .event_now_top h2 {
  font-size: 2.5vw;
  font-weight: bold;
  line-height: 3.6458333333vw;
  margin-left: 13.4375vw;
}
@media screen and (max-width: 415px) {
  .event_now .event_now_top h2 {
    font-size: 7.2463768116vw;
  }
}
.event_now .event_now_top .event_left_line {
  width: 24.84375vw;
  height: 0.078125vw;
  background-color: #3F3F3F;
}
.event_now .event_now_bottom {
  display: flex;
}
.event_now .event_now_bottom .event_ver_line {
  margin-left: 19.4791666667vw;
  width: 0.0520833333vw;
  height: 48.90625vw;
  margin-top: 14.1666666667vw;
  background-color: #D6D6D6;
}
.event_now .event_now_bottom .event_now_1 {
  margin-top: 14.1666666667vw;
  margin-left: 9.8958333333vw;
}
.event_now .event_now_bottom .event_now_2 {
  margin-top: 3.3333333333vw;
  margin-left: 9.8958333333vw;
}

.event_full_line {
  width: 100%;
  max-width: 100%;
  background-color: #292929;
  height: 0.15625vw;
}

.event_future {
  display: flex;
  max-width: 100%;
  width: 100%;
}
.event_future .event_future_left {
  margin-top: 5vw;
}
.event_future .event_future_left h2 {
  font-size: 2.5vw;
  font-weight: bold;
  line-height: 3.6458333333vw;
  margin-left: 13.4375vw;
}
@media screen and (max-width: 415px) {
  .event_future .event_future_left h2 {
    font-size: 7.2463768116vw;
  }
}
.event_future .event_future_left .event_left_line {
  width: 24.84375vw;
  height: 0.078125vw;
  background-color: #3F3F3F;
}
.event_future .event_future_mid {
  margin-top: 5vw;
  display: flex;
}
.event_future .event_future_mid .event_future_1 {
  margin-top: 7.2916666667vw;
  margin-left: 4.5833333333vw;
}
.event_future .event_future_mid .event_future_2 {
  margin-top: 18.125vw;
  margin-left: 9.8958333333vw;
}
.event_future .event_future_right {
  width: 0.0520833333vw;
  height: 52.0833333333vw;
  margin-left: 6.875vw;
  background-color: #D6D6D6;
}

.event_right_line2 {
  width: 86.4583333333vw;
  margin-top: 6.25vw;
  height: 0.15625vw;
  float: right;
  background-color: #292929;
}

.event_3 {
  clear: both;
  padding-top: 5vw;
  box-sizing: border-box;
}
.event_3 .event_pass_title {
  width: 72.9166666667vw;
  margin: 0 auto;
  padding: 0 0.8333333333vw 0.8333333333vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 0.15625vw solid #8C8C8C;
}
.event_3 .event_pass_title h2 {
  font-size: 2.5vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .event_3 .event_pass_title h2 {
    font-size: 7.2463768116vw;
  }
}
.event_3 .event_pass_title select {
  width: 7.7083333333vw;
  height: 1.6666666667vw;
  font-size: 1.0416666667vw;
  font-weight: bold;
  padding-left: 0.4166666667vw;
  line-height: 1.6666666667vw;
}
@media screen and (max-width: 415px) {
  .event_3 .event_pass_title select {
    font-size: 4.8309178744vw;
  }
}
.event_3 .event_pass {
  line-height: 1.4;
  display: flex;
  margin: 0 auto;
  width: 68.28125vw;
  border-bottom: 0.0520833333vw solid #8C8C8C;
}
.event_3 .event_pass:hover {
  cursor: pointer;
}
.event_3 .event_pass .event_pass_img {
  margin-right: 8.3333333333vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.event_3 .event_pass .event_pass_img div {
  overflow: hidden;
  width: 22.2916666667vw;
}
.event_3 .event_pass .event_pass_img div img {
  width: 22.2916666667vw;
}
.event_3 .event_pass .event_pass_img div img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.events_btn {
  width: 68.28125vw;
  margin: 3.3333333333vw auto 5vw;
}

.event_now_c {
  display: flex;
}
.event_now_c .event_title_c {
  margin-right: 0.625vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.event_now_c .event_title_c .event_no {
  font-size: 1.875vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .event_now_c .event_title_c .event_no {
    font-size: 7.2463768116vw;
  }
}
.event_now_c .event_title_c .event_name {
  font-size: 1.875vw;
  font-weight: bold;
  margin-bottom: 9.1666666667vw;
  width: 2.0833333333vw;
  line-height: 2.6041666667vw;
}
@media screen and (max-width: 415px) {
  .event_now_c .event_title_c .event_name {
    font-size: 7.2463768116vw;
  }
}
.event_now_c .event_content_c {
  position: relative;
  height: 41.9270833333vw;
}
.event_now_c .event_content_c img {
  width: 18.125vw;
  height: 32.8645833333vw;
}
.event_now_c .event_content_c .event_room {
  font-size: 1.25vw;
  font-weight: bold;
  position: absolute;
  right: 0.4166666667vw;
  top: 30.8854166667vw;
  color: #FFFFFF;
}
@media screen and (max-width: 415px) {
  .event_now_c .event_content_c .event_room {
    font-size: 5.7971014493vw;
  }
}
.event_now_c .event_content_c .event_date {
  font-size: 1.25vw;
  font-weight: bold;
  width: 15.4166666667vw;
  margin-top: 2.0833333333vw;
}
@media screen and (max-width: 415px) {
  .event_now_c .event_content_c .event_date {
    font-size: 5.7971014493vw;
  }
}
.event_now_c .event_content_c h5 {
  font-size: 1.0416666667vw;
  width: 14.375vw;
  margin-top: 0.8333333333vw;
  color: #747474;
  font-weight: 200;
  line-height: 1.4;
}

h1 {
  font-size: 3.3333333333vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  h1 {
    font-size: 8.6956521739vw;
  }
}

h2 {
  font-size: 2.5vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  h2 {
    font-size: 7.2463768116vw;
  }
}

h3 {
  font-size: 1.875vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  h3 {
    font-size: 7.2463768116vw;
  }
}

h4 {
  font-size: 1.25vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  h4 {
    font-size: 5.7971014493vw;
  }
}

h5 {
  font-size: 1.0416666667vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  h5 {
    font-size: 4.8309178744vw;
  }
}

.ex_bigBanner img {
  width: 100%;
}

.ex_main li div {
  margin: 0 auto;
}

.ex_img1 {
  background-image: url("../../images/exp_Img/ex_img1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 600px;
}

.ex_img2 {
  background-image: url("../../images/exp_Img/ex_img2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 600px;
}

.ex_img3 {
  background-image: url("../../images/exp_Img/ex_img3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 600px;
}

.ex_img4 {
  background-image: url("../../images/exp_Img/ex_img4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 600px;
}

.ex_img5 {
  background-image: url("../../images/exp_Img/ex_img5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 600px;
}

.news_becenter {
  width: 73.9583333333vw;
  margin: 0 auto;
}

.news_top {
  display: flex;
  width: 100%;
}
.news_top img {
  display: block;
  width: 47%;
}
.news_top .news_top_word {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 53%;
  border: 0.0520833333vw solid #DDDDDD;
}
.news_top .news_top_word h3 {
  border-bottom: 0.0520833333vw solid #DDDDDD;
  width: 100%;
  height: 11.1458333333vw;
  line-height: 11.1458333333vw;
  padding-left: 6.25vw;
  font-size: 1.875vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .news_top .news_top_word h3 {
    font-size: 7.2463768116vw;
  }
}
.news_top .news_top_word div {
  display: flex;
  width: 100%;
  height: 39.5833333333vw;
}
.news_top .news_top_word div h4 {
  border-right: 0.0520833333vw solid #DDDDDD;
  display: flex;
  align-items: flex-end;
  width: 55%;
  padding: 0vw 12.5vw 5.2083333333vw 6.25vw;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 1.5625vw;
}
@media screen and (max-width: 415px) {
  .news_top .news_top_word div h4 {
    font-size: 5.7971014493vw;
  }
}
.news_top .news_top_word div p {
  display: flex;
  align-items: flex-end;
  width: 45%;
  padding: 0vw 5.2083333333vw 5.2083333333vw 3.125vw;
  font-size: 0.9375vw;
  line-height: 1.5;
  color: #747474;
}
@media screen and (max-width: 415px) {
  .news_top .news_top_word div p {
    font-size: 3.8647342995vw;
  }
}

.news_banner {
  height: 50.7291666667vw;
  background-image: url("/images/news_01.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25vw 0vw 0vw 14.5833333333vw;
}
.news_banner h1 {
  font-size: 3.3333333333vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .news_banner h1 {
    font-size: 8.6956521739vw;
  }
}

.news_nav {
  margin-top: 5vw;
  margin-bottom: 1.6666666667vw;
  text-align: right;
}
.news_nav h4 {
  display: inline-block;
  margin-left: 1.25vw;
  font-size: 1.25vw;
  font-weight: bold;
  font-weight: normal;
}
@media screen and (max-width: 415px) {
  .news_nav h4 {
    font-size: 5.7971014493vw;
  }
}
.news_nav h4:first-child {
  color: #D6D6D6;
}

.news_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0520833333vw solid #8C8C8C;
}
.news_list li img {
  width: 22.2916666667vw;
  height: 13.125vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.news_page {
  display: flex;
  margin-top: 5.2083333333vw;
}
.news_page li {
  width: 18%;
  height: 3.75vw;
  border: 0.0520833333vw solid #DDDDDD;
  font-size: 0.9375vw;
  text-align: center;
  line-height: 3.75vw;
}
@media screen and (max-width: 415px) {
  .news_page li {
    font-size: 3.8647342995vw;
  }
}
.news_page li:first-child {
  width: 5%;
}
.news_page li:last-child {
  width: 5%;
}

.login_banner {
  width: 100%;
}
.login_banner img {
  width: 100%;
}

.login_top {
  width: 27.6041666667vw;
  margin: 0 auto;
}
.login_top h2 {
  color: #292929;
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  margin: 3.75vw 0;
}
@media screen and (max-width: 415px) {
  .login_top h2 {
    font-size: 7.2463768116vw;
  }
}
.login_top ul {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 2.03125vw;
}
.login_top ul li input {
  font-size: 0.9375vw;
  color: #292929;
  border: none;
  border: 1px solid #8C8C8C;
  width: 100%;
  width: 27.6041666667vw;
  height: 2.0833333333vw;
  margin-bottom: 1.6666666667vw;
  padding-left: 0.625vw;
}
@media screen and (max-width: 415px) {
  .login_top ul li input {
    font-size: 3.8647342995vw;
  }
}
.login_top ul .login_ckbox_out {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login_top ul .login_ckbox_out .login_ckbox #login_ckbox {
  width: auto;
  height: auto;
  margin: auto;
}
.login_top ul .login_ckbox_out .login_ckbox span {
  font-size: 0.9375vw;
  color: #292929;
}
@media screen and (max-width: 415px) {
  .login_top ul .login_ckbox_out .login_ckbox span {
    font-size: 3.8647342995vw;
  }
}
.login_top ul .login_ckbox_out a {
  font-size: 0.9375vw;
  color: #292929;
}
@media screen and (max-width: 415px) {
  .login_top ul .login_ckbox_out a {
    font-size: 3.8647342995vw;
  }
}
.login_top .login_btn_out {
  display: flex;
  justify-content: center;
}
.login_top .login_btn_out input {
  margin-right: 5vw;
}

.login_line {
  width: 63.3333333333vw;
  height: 0.0520833333vw;
  background-color: #292929;
  margin: 0 auto;
  margin-bottom: 3.75vw;
  margin-top: 2.1354166667vw;
}

.login_bottom {
  width: 27.6041666667vw;
  margin: 0 auto;
}
.login_bottom h4 {
  font-size: 1.25vw;
  font-weight: bold;
  color: #292929;
  text-align: center;
  margin-bottom: 1.6666666667vw;
}
@media screen and (max-width: 415px) {
  .login_bottom h4 {
    font-size: 5.7971014493vw;
  }
}
.login_bottom .login_icon {
  display: flex;
  justify-content: space-between;
  width: 12.4479166667vw;
  margin: 0 auto;
}
.login_bottom .login_icon a img {
  width: 2.34375vw;
}

.signin_out ul .ckbox_center {
  justify-content: center;
}
.signin_out .signin_btn_out input {
  margin-right: 0 !important;
}

.member {
  width: 61.5104166667vw;
}
.member .center {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.member .center li {
  width: 15.78125vw;
  height: 15.78125vw;
  border: 0.1041666667vw solid #292929;
}
.member .center li a {
  text-decoration: none;
  color: #292929;
  font-size: 1.875vw;
  font-weight: bold;
  text-align: center;
  line-height: 15.78125vw;
  display: block;
}
@media screen and (max-width: 415px) {
  .member .center li a {
    font-size: 7.2463768116vw;
  }
}

.ticket {
  width: 38.59375vw;
}
.ticket li {
  padding-top: 5.7291666667vw;
}
.ticket li a {
  line-height: 2.2916666667vw !important;
}

.succ_top {
  width: 62.5vw;
}
.succ_top h4 {
  font-size: 1.25vw;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3.75vw;
}
@media screen and (max-width: 415px) {
  .succ_top h4 {
    font-size: 5.7971014493vw;
  }
}
.succ_top .succ {
  margin-bottom: 3.75vw;
}
.succ_top .succ .btn_succ {
  margin-right: 7.03125vw;
}

.prime {
  background-color: #F0EFEB;
  display: flex;
  justify-content: center;
  padding: 3.75vw 0;
  align-items: center;
}
.prime img {
  width: 25.4166666667vw;
  margin-right: 5.2083333333vw;
}
.prime section h3 {
  font-size: 1.875vw;
  font-weight: bold;
  margin-bottom: 2.3958333333vw;
}
@media screen and (max-width: 415px) {
  .prime section h3 {
    font-size: 7.2463768116vw;
  }
}
.prime section h4 {
  font-size: 1.25vw;
  font-weight: bold;
  font-weight: normal;
  letter-spacing: 11.5%;
  line-height: 176%;
}
@media screen and (max-width: 415px) {
  .prime section h4 {
    font-size: 5.7971014493vw;
  }
}

.prime_bottom {
  padding-top: 4.1666666667vw;
  padding-left: 20.9375vw;
  display: flex;
}
.prime_bottom .prime_top {
  margin-right: 6.7708333333vw;
}
.prime_bottom .prime_top h3 {
  margin-bottom: 1.6666666667vw;
}
.prime_bottom .prime_top ul li {
  margin-bottom: 1.6666666667vw;
  font-size: 1.25vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .prime_bottom .prime_top ul li {
    font-size: 5.7971014493vw;
  }
}
.prime_bottom .prime_top ul li i {
  font-size: 1.4583333333vw;
  margin-right: 1.3020833333vw;
}
.prime_bottom .price {
  display: flex;
  align-items: flex-end;
}
.prime_bottom .price h3 {
  font-size: 1.875vw;
  font-weight: bold;
  margin-right: 2.2916666667vw;
}
@media screen and (max-width: 415px) {
  .prime_bottom .price h3 {
    font-size: 7.2463768116vw;
  }
}
.prime_main {
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}
.prime_main .prime_pay {
  margin-right: 0;
  padding-bottom: 2.7604166667vw;
}
.prime_main .prime_pay h3 {
  text-align: center;
}
.prime_main .prime_pay ul {
  padding-left: 6.7708333333vw;
}
.prime_main .pr_line {
  margin-bottom: 0;
  margin-top: 0;
}
.prime_main .payment {
  padding: 3.75vw 0;
}
.prime_main .payment h3 {
  font-size: 1.875vw;
  font-weight: bold;
  margin-bottom: 1.6666666667vw;
}
@media screen and (max-width: 415px) {
  .prime_main .payment h3 {
    font-size: 7.2463768116vw;
  }
}
.prime_main .payment ul {
  display: flex;
  justify-content: space-between;
}
.prime_main .payment ul li span {
  font-size: 0.9375vw;
}
@media screen and (max-width: 415px) {
  .prime_main .payment ul li span {
    font-size: 3.8647342995vw;
  }
}
.prime_main .price_btn {
  padding-top: 3.75vw;
}
.prime_main .price_btn h3 {
  font-size: 1.875vw;
  font-weight: bold;
  margin-bottom: 3.75vw;
}
@media screen and (max-width: 415px) {
  .prime_main .price_btn h3 {
    font-size: 7.2463768116vw;
  }
}
.prime_main .price_btn input {
  margin: 0 auto;
}

.back_out {
  display: flex;
  background-color: #F0EFEB;
}
.back_out .back_main h2 {
  font-size: 2.0833333333vw;
}

.event01_1 {
  margin-top: 6.4583333333vw;
  display: flex;
}
.event01_1 .event01_1_left {
  margin-left: 14.0625vw;
  width: 51.0416666667vw;
}
.event01_1 .event01_1_left .event01_1_left_title h1 {
  font-size: 3.3333333333vw;
  font-weight: bold;
  width: 43.3333333333vw;
  line-height: 1.2;
}
@media screen and (max-width: 415px) {
  .event01_1 .event01_1_left .event01_1_left_title h1 {
    font-size: 8.6956521739vw;
  }
}
.event01_1 .event01_1_left .event01_1_left_title h1:nth-child(2) {
  margin-top: 1.25vw;
}
.event01_1 .event01_1_left .event01_1_left_content {
  margin-top: 12.7604166667vw;
}
.event01_1 .event01_1_left .event01_1_left_content h4 {
  font-size: 1.25vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .event01_1 .event01_1_left .event01_1_left_content h4 {
    font-size: 5.7971014493vw;
  }
}
.event01_1 .event01_1_left .event01_1_left_content h4:nth-child(2) {
  margin-top: 0.8333333333vw;
  color: #747474;
}
.event01_1 .event01_1_left .event01_1_left_content h4:nth-child(3) {
  margin-top: 0.4166666667vw;
  color: #747474;
}
.event01_1 .event01_1_left .event01_1_left_content a {
  margin-top: 0.8333333333vw;
}
.event01_1 .event01_1_right img {
  width: 28.125vw;
  height: 55.15625vw;
}

.event01_2 {
  margin-top: 3.75vw;
  margin-left: 14.0625vw;
}
.event01_2 .event01_2_title {
  width: 46.9791666667vw;
}
.event01_2 .event01_2_title h2 {
  font-size: 2.5vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .event01_2 .event01_2_title h2 {
    font-size: 7.2463768116vw;
  }
}
.event01_2 .event01_2_title h4 {
  font-size: 1.25vw;
  font-weight: bold;
  margin-top: 3.3333333333vw;
}
@media screen and (max-width: 415px) {
  .event01_2 .event01_2_title h4 {
    font-size: 5.7971014493vw;
  }
}
.event01_2 .event01_2_title h5 {
  font-size: 1.0416666667vw;
  font-weight: bold;
  margin-top: 0.8333333333vw;
  line-height: 1.4;
  font-weight: 200;
}
@media screen and (max-width: 415px) {
  .event01_2 .event01_2_title h5 {
    font-size: 4.8309178744vw;
  }
}
.event01_2 .event01_2_content {
  margin-top: 3.3333333333vw;
  display: flex;
}
.event01_2 .event01_2_content div {
  margin-right: 6.3020833333vw;
}
.event01_2 .event01_2_content div img {
  width: 14.5833333333vw;
  height: 18.75vw;
}
.event01_2 .event01_2_content img {
  width: 26.09375vw;
  height: 38.8541666667vw;
}
.event01_2 .event01_2_content .event01_2_annotation {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.event01_2 .event01_2_content .event01_2_annotation div {
  box-sizing: border-box;
  width: 20.8333333333vw;
  margin-left: 5vw;
  border-left: 2px solid #AE2000;
  padding-left: 0.8333333333vw;
}
.event01_2 .event01_2_content .event01_2_annotation div h4 {
  font-size: 1.25vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .event01_2 .event01_2_content .event01_2_annotation div h4 {
    font-size: 5.7971014493vw;
  }
}
.event01_2 .event01_2_content .event01_2_annotation div h5 {
  font-size: 1.0416666667vw;
  font-weight: bold;
  margin-top: 0.625vw;
  font-weight: 200;
  line-height: 1.4;
}
@media screen and (max-width: 415px) {
  .event01_2 .event01_2_content .event01_2_annotation div h5 {
    font-size: 4.8309178744vw;
  }
}

.event01_left_line {
  clear: both;
  width: 60.4166666667vw;
  height: 0.15625vw;
  background-color: #D6D6D6;
  margin-top: 7.6041666667vw;
}

.event01_3 {
  display: flex;
  margin-bottom: 9.8958333333vw;
  margin-top: 10.4166666667vw;
}
.event01_3 .event01_3_title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0.8333333333vw;
  margin-right: 8.3333333333vw;
  margin-left: 14.0625vw;
  width: 36.1458333333vw;
}
.event01_3 .event01_3_title h2 {
  font-size: 2.5vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .event01_3 .event01_3_title h2 {
    font-size: 7.2463768116vw;
  }
}
.event01_3 .event01_3_title h4 {
  font-size: 1.25vw;
  font-weight: bold;
  margin-top: 3.3333333333vw;
}
@media screen and (max-width: 415px) {
  .event01_3 .event01_3_title h4 {
    font-size: 5.7971014493vw;
  }
}
.event01_3 .event01_3_title h5 {
  font-size: 1.0416666667vw;
  font-weight: bold;
  margin-top: 0.8333333333vw;
  line-height: 1.4;
  font-weight: 200;
}
@media screen and (max-width: 415px) {
  .event01_3 .event01_3_title h5 {
    font-size: 4.8309178744vw;
  }
}
.event01_3 .event01_3_title div {
  margin-top: 1.6666666667vw;
  width: 20.8333333333vw;
  height: 0.1041666667vw;
  background-color: #292929;
}
.event01_3 .event01_3_img img {
  width: 28.1770833333vw;
}

.event01_4 {
  clear: both;
  padding-top: 5vw;
  box-sizing: border-box;
}
.event01_4 .event01_4_title {
  width: 72.9166666667vw;
  margin: 0 auto;
  padding: 0 0.8333333333vw 0.8333333333vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 0.15625vw solid #8C8C8C;
}
.event01_4 .event01_4_title h2 {
  font-size: 2.5vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .event01_4 .event01_4_title h2 {
    font-size: 7.2463768116vw;
  }
}
.event01_4 .event01_4_title p {
  font-size: 0.9375vw;
  color: #747474;
}
@media screen and (max-width: 415px) {
  .event01_4 .event01_4_title p {
    font-size: 3.8647342995vw;
  }
}
.event01_4 .event01_4_content {
  width: 86.4583333333vw;
  margin-bottom: 6.25vw;
  margin-top: 5vw;
  overflow: hidden;
  float: right;
}
.event01_4 .event01_4_content ul {
  display: flex;
}
.event01_4 .event01_4_content ul li {
  margin-right: 2.0833333333vw;
}
.event01_4 .event01_4_content ul li h4 {
  font-size: 1.25vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  .event01_4 .event01_4_content ul li h4 {
    font-size: 5.7971014493vw;
  }
}
.event01_4 .event01_4_content ul li img {
  margin-top: 1.6666666667vw;
  width: 42.7083333333vw;
}
.event01_4 .event01_4_content ul li h5 {
  font-size: 1.0416666667vw;
  font-weight: bold;
  margin-top: 0.8333333333vw;
  width: 23.6458333333vw;
  font-weight: 200;
  line-height: 1.4;
}
@media screen and (max-width: 415px) {
  .event01_4 .event01_4_content ul li h5 {
    font-size: 4.8309178744vw;
  }
}

.event01_5 {
  margin-bottom: 10.4166666667vw;
}
.event01_5 .event01_5_textborder {
  width: 72.9166666667vw;
  height: 3.3333333333vw;
  background-color: #292929;
  margin: 5vw auto 3.75vw;
  box-sizing: border-box;
  padding-left: 0.8333333333vw;
}
.event01_5 .event01_5_textborder h4 {
  font-size: 1.25vw;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 3.3333333333vw;
}
@media screen and (max-width: 415px) {
  .event01_5 .event01_5_textborder h4 {
    font-size: 5.7971014493vw;
  }
}
.event01_5 .event01_5_img {
  position: relative;
  overflow: hidden;
  width: 72.9166666667vw;
  height: 25vw;
  margin: 0 auto;
}
.event01_5 .event01_5_img img {
  width: 72.9166666667vw;
  transform: translateY(-15.625vw);
}
.event01_5 .event01_5_img .event01_5_text01 {
  position: absolute;
  width: 20.8333333333vw;
  height: 10.4166666667vw;
  top: 14.1666666667vw;
  right: 5.625vw;
}
.event01_5 .event01_5_img .event01_5_text01 h5 {
  font-size: 1.0416666667vw;
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
}
@media screen and (max-width: 415px) {
  .event01_5 .event01_5_img .event01_5_text01 h5 {
    font-size: 4.8309178744vw;
  }
}
.event01_5 .event01_5_img .event01_5_text01 div {
  margin-left: 0.4166666667vw;
  margin-top: 0.4166666667vw;
  width: 20.3125vw;
  height: 9.4791666667vw;
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  padding-top: 0.8333333333vw;
}
.event01_5 .event01_5_img .event01_5_text01 div p {
  font-size: 0.9375vw;
  width: 17.7604166667vw;
  color: #FFFFFF;
  margin: 0vw auto 0;
  line-height: 1.6;
}
@media screen and (max-width: 415px) {
  .event01_5 .event01_5_img .event01_5_text01 div p {
    font-size: 3.8647342995vw;
  }
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.3333333333vw;
  font-weight: bold;
}
@media screen and (max-width: 415px) {
  h1 {
    font-size: 8.6956521739vw;
  }
}/*# sourceMappingURL=style.css.map */