// 電腦
.member_nav{

    // margin-left: size(370);
    flex-grow: 1;

    ul{
        
        
        li{
            margin-bottom: size(38);

            .bold{
                font-weight: bold;
            }

            a{
                text-decoration: none;
                color: $black;
                @include h6();
                font-weight: normal;
            }
        }

        @include mobile(){
            display: none;
        }
    }

}

// 手機
.member_phone_nav{
    display: none;
    ul{

    }
}