// 電腦
.member_nav{

    // margin-left: size(370);
    flex-grow: 1;

    ul{
        
        
        li{
            margin-bottom: size(38);

            .bold{
                font-weight: bold;
            }

            a{
                text-decoration: none;
                color: $black;
                @include h6();
                font-weight: normal;
            }
        }

        @include mobile(){
            display: none;
        }
    }

}

// 手機
.member_phone_nav{
    display: none;
    
    @include mobile(){
        display: block;

    }

    //建議html 寫一個 不然沒辦法換位置
    //如果 html寫好 這邊的margin 換到 .member_h2底下
    @include mobile(){
        margin-bottom: rwd(20);
    }

    ul{
        @include mobile(){
            display: flex;
            justify-content: center;
            text-align: center;
        }

        li{
            @include mobile(){
                flex-grow: 1;
            }
        }
    }
    
    a{
        @include mobile(){
            font-size: rwd(16);
            width: auto;
            text-decoration: none;
            color: $black;
        }
    }
}