<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./layout/head.html', {
        "title" : "後台_最新消息編輯"
    })
    <script src=""></script>
</head>
<body>

    <div class="back_wrapper" id="app">

        <!-- header -->
        <!-- @@include('./layout/header.html') -->

        <div class="back_out" style="height: 100vh;">
            
            <!-- 主選單 -->
            <nav class="back">
            @@include('./layout/back_nav.html')
            </nav>
            
            <!-- 右邊 -->
            <div class="back_main back_flexgrow">
                <div class="edit_edit_title">
                    <h2>最新消息</h2>
                    <span></span>
                </div>

                <div class="back_edit_title">
                    <label>公告主旨</label>
                    <input type="text" v-model="title">
                    <p>20字</p>
                </div>

                <div class="back_edit_title">
                    <label>上傳時間</label>
                    <input type="date" v-model="theDate">
                </div>
                
                <div class="back_edit_pic">
                    <label for="">圖片</label>
                    <div class="dragimg">{{image}}</div>
                    <!-- <button>瀏覽</button> -->
                    <label class="pic">
                    <input type="file" accept="image/png, image/gif, image/jpeg" @change="getFiles($event)" >
                    <p>瀏覽</p>
                    </label>
                </div>

                <div class="back_edit_text">
                    <label for="">內文</label>
                    <textarea v-model="content" ></textarea>
                    <p>205字</p>
                </div>

                <div class="edit_checkbox">
                    <h4>消息種類</h4>
                    <input type="radio" v-model="announcement" value="官方訊息"  style='width:18px;height:18px;'><label for="單位">館方訊息</label> 
                    <input type="radio" v-model="announcement" value="活動訊息"  style='width:18px;height:18px;'><label for="單位">活動訊息</label> 
                </div>

                <div class="edit_checkbox">
                    <h4>置頂文章</h4>
                    <input type="radio" v-model="top" value="Top1" style='width:18px;height:18px;'><label for="other">置頂1</label> 
                    <input type="radio" v-model="top" value="Top2" style='width:18px;height:18px;'><label for="other">置頂2</label> 
                    <input type="radio" v-model="top" value="No" style='width:18px;height:18px;'><label for="other">不置頂</label>  
                </div>
                
                <div class="edit_button">
                    <!-- <a href="./back_news_draft.html"> -->
                        <button @click="insert">儲存草稿</button>
                    <!-- </a> -->
                    <!-- <a href="./back_news.html"> -->
                        <button @click="insert">送出資料</button>
                    <!-- </a> -->
                </div>




            </div>
        </div>

        <!-- footer -->
        <!-- @@include('./layout/footer.html') -->
    </div>
<script  src="./js/vue.js"></script>
<!-- <script src="./js/moment.js"></script> -->
<script type="module" src="./js/back_news_edit.js"></script>
<script src="./js/back_loginStatus_logout.js"></script>
</body>
</html>