<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./layout/head.html', {
        "title" : "後台_訂票管理_散客訂票明細"
    })
</head>
<body>

    <div class="back_wrapper">

        <!-- header -->
        <!-- @@include('./layout/header.html') -->

        <div class="back_out">
            
            <!-- 主選單 -->
            <nav class="back">
            @@include('./layout/back_nav.html')
            </nav>
            
            <!-- 右邊 -->
            <div class="back_main back_flexgrow">
                <div class="back_table_title">
                    <h2>訂單明細</h2>
                </div>
                <div class="back_table_noline back_table_p20">
                    <table  id="app_back_order_personal">
                        <tbody v-for="order_personal in order_personalArray">
                            <tr >
                                <td>訂單編號</td>
                                <td>{{order_personal.ORDER_ID}}</td>
                            </tr>
                            <tr>
                                <td>訂單日期</td>
                                <td>{{order_personal.ORDER_DAY}}</td>
                            </tr>
                            <tr>
                                <td>展覽名稱</td>
                                <td>{{order_personal.EXHIBITION_NAME}}</td>

                            </tr>
                            <tr>
                                <td>入館日期</td>
                                <td>{{order_personal.VISIT_DAY}}</td>
                            </tr>
                            <tr>
                                <td>費用總計</td>
                                <td>{{order_personal.PRICE}}</td>

                            </tr>
                            <tr>
                                <td>付款狀態</td>
                                <td>{{order_personal.PAYMENT_STATUS}}</td>

                            </tr>
                            <tr>
                                <td>付款方式</td>
                                <td>{{order_personal.PAYMENT_TYPE}}</td>

                            </tr>
                            <tr>
                                <td>付款日期</td>
                                <td>{{order_personal.PAYMENT_DAY}}</td>

                            </tr>
                        </tbody>
                        <tbody v-for="order_personal in order_personalArray">
                            <tr>
                                <td>會員編號</td>
                                <td>{{order_personal.MEMBER_ID}}</td>

                            </tr>
                            <tr>
                                <td>會員電話</td>
                                <td>{{order_personal.DELEGATE_PHONE}}</td>

                            </tr>
                            <tr>
                                <td>會員姓名</td>
                                <td>{{order_personal.DELEGATE_NAME}}</td>

                            </tr>
                            <tr>
                                <td>成人票</td>
                                <td>{{order_personal.ADULT_NUM}}</td>

                            </tr>
                            <tr>
                                <td>優待票</td>
                                <td>{{order_personal.DISCOUNT_NUM}}</td>

                            </tr>
                            <tr>
                                <td>兒童票</td>
                                <td>{{order_personal.CHILD_NUM}}</td>

                            </tr>
                            <tr>
                                <td>語音導覽</td>
                                <td>{{order_personal.VOICE_GUIDE}}</td>

                            </tr>
                            <tr>
                                <td>付款帳號</td>
                                <td>{{order_personal.PAYMENT_ACC}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn_s_default"><a href="./back_order.html">返回</a></button>
            </div>
        </div>

        <!-- footer -->
        <!-- @@include('./layout/footer.html') -->
    </div>

    <script>
            let back_order_personal = new Vue({
                el: '#app_back_order_personal',
                data: {
                    order_personalArray:[],
                },

                mounted() {
                    
                    let get_order_id = sessionStorage.getItem('order');
                    const api = `./php/back_order_personal.php?id=`+get_order_id; // 要從哪裡得到資料
                    
                    fetch(api,{
                        method:'POST',
                        headers:{'Content-Type':'application/json'},
                        body: JSON.stringify({
                            ID: get_order_id,
                        })
                    })
                        
                        .then(res => res.json())
                        .then(res =>this.order_personalArray = res)
                }
            })
    
    </script>
    <script src="./js/back_loginStatus_logout.js"></script>
</body>
</html>