<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./layout/head.html', {
        "title" : "後台_最新消息"
    })
</head>
<body>

    <div class="back_wrapper">

        <!-- header -->
        <!-- @@include('./layout/header.html') -->

        <div class="back_out">
            
            <!-- 主選單 -->
            <nav class="back">
            @@include('./layout/back_nav.html')
            </nav>
            
            <!-- 右邊 -->
            <div class="back_main back_flexgrow">
                <div class="back_table_title">
                    <h2>最新消息</h2>
                    <div>
                        <button class="btn_s_default draft_button"><a href="./back_news_draft.html">草稿</a></button>
                        @@include('./layout/search_component.html')
                        <span class="icon_create"><a href="./back_news_edit.html"><i class="fa-regular fa-square-plus"></i></a></span>
                    </div>
                </div>
                <table id="app_backTable" class="back_table back_table_p0" data-tbname="INFORMATION">
                    <thead>
                        <tr>
                            <th data-colname="DATE">公告日期</th>
                            <th data-colname="TITLE">公告主旨</th>
                            <th data-colname="INFO_TYPE">公告單位</th>
                            <th>狀態</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="info in tbArray">
                            <td>{{info.DATE}}</td>
                            <td><a href="./back_news_edit.html">{{info.TITLE}}</a></td>
                            <td>{{info.INFO_TYPE}}</td>
                            <td>{{info.situation}}</td>
                            <td>
                                <span class="icon_edit"><i class="fa-regular fa-pen-to-square"></i></span>
                                <span class="icon_del" @click="news_del(info.INFO_ID)"><i class="fa-regular fa-trash-can"></i></span>
                            </td>
                        </tr>

                        

                        <!-- v-for備用 -->
                        <!-- <tr v-for="info in newsArray">
                            <td>2022/08/24</td>
                            <td><a href="./back_news_edit.html">518博物館日 期間限定優惠</a></td>
                            <td>活動方</td>
                            <td>已置頂</td>
                            <td>
                                <span class="icon_edit"><i class="fa-regular fa-pen-to-square"></i></span>
                                <span class="icon_del"><i class="fa-regular fa-trash-can"></i></span>
                            </td>
                        </tr> -->

                        <!-- 原樣 -->
                        <!-- <tr>
                            <td>2022/08/24</td>
                            <td><a href="./back_news_edit.html">518博物館日 期間限定優惠</a></td>
                            <td>活動方</td>
                            <td>已置頂</td>
                            <td>
                                <span class="icon_edit"><i class="fa-regular fa-pen-to-square"></i></span>
                                <span class="icon_del"><i class="fa-regular fa-trash-can"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>2022/08/24</td>
                            <td><a href="./back_news_edit.html">518博物館日 期間限定優惠</a></td>
                            <td>活動方</td>
                            <td>已發布</td>
                            <td>
                                <span class="icon_edit"><i class="fa-regular fa-pen-to-square"></i></span>
                                <span class="icon_del"><i class="fa-regular fa-trash-can"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>2022/08/24</td>
                            <td><a href="./back_news_edit.html">518博物館日 期間限定優惠</a></td>
                            <td>活動方</td>
                            <td>已發布</td>
                            <td>
                                <span class="icon_edit"><i class="fa-regular fa-pen-to-square"></i></span>
                                <span class="icon_del"><i class="fa-regular fa-trash-can"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>2022/08/24</td>
                            <td><a href="./back_news_edit.html">518博物館日 期間限定優惠</a></td>
                            <td>活動方</td>
                            <td>已發布</td>
                            <td>
                                <span class="icon_edit"><i class="fa-regular fa-pen-to-square"></i></span>
                                <span class="icon_del"><i class="fa-regular fa-trash-can"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>2022/08/24</td>
                            <td><a href="./back_news_edit.html">518博物館日 期間限定優惠</a></td>
                            <td>活動方</td>
                            <td>已發布</td>
                            <td>
                                <span class="icon_edit"><i class="fa-regular fa-pen-to-square"></i></span>
                                <span class="icon_del"><i class="fa-regular fa-trash-can"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>2022/08/24</td>
                            <td><a href="./back_news_edit.html">518博物館日 期間限定優惠</a></td>
                            <td>活動方</td>
                            <td>已發布</td>
                            <td>
                                <span class="icon_edit"><i class="fa-regular fa-pen-to-square"></i></span>
                                <span class="icon_del"><i class="fa-regular fa-trash-can"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>2022/08/24</td>
                            <td><a href="./back_news_edit.html">518博物館日 期間限定優惠</a></td>
                            <td>活動方</td>
                            <td>已發布</td>
                            <td>
                                <span class="icon_edit"><i class="fa-regular fa-pen-to-square"></i></span>
                                <span class="icon_del"><i class="fa-regular fa-trash-can"></i></span>
                            </td>
                        </tr>
                        <tr>
                            <td>2022/08/24</td>
                            <td><a href="./back_news_edit.html">518博物館日 期間限定優惠</a></td>
                            <td>活動方</td>
                            <td>已發布</td>
                            <td>
                                <span class="icon_edit"><i class="fa-regular fa-pen-to-square"></i></span>
                                <span class="icon_del"><i class="fa-regular fa-trash-can"></i></span>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
                <!-- <ul class="news_page">
                    <li>＜</li>
                    <li>01</li>
                    <li>02</li>
                    <li>03</li>
                    <li>04</li>
                    <li>05</li>
                    <li>＞</li>
                </ul> -->
            </div>
        </div>

        <!-- footer -->
        <!-- @@include('./layout/footer.html') -->
    </div>

    <script>
        
    // Vue 整合至 back_Search.js ( 在 layout/head.html )

    </script>
</body>
</html>