<!DOCTYPE html>
<html lang="en">

<head>

    @@include('./layout/head.html', {
    "title" : "後台_訂票管理_散客訂票明細"
    })
</head>

<body>

    <div class="back_wrapper">

        <!-- header -->
        <!-- @@include('./layout/header.html') -->
        <div class="back_out" style="height: 100vh;">

            <!-- 主選單 -->
            <nav class="back">
                @@include('./layout/back_nav.html')
            </nav>

            <!-- 右邊 -->
            <div id="app_back_order_personal" class="back_main back_flexgrow">
                <div class="back_table_title">
                    <h2>訂單明細</h2>
                </div>
                <div class="back_table_noline back_table_p20">
                    <table v-for="order_pg in order_pgArray">

                        <template v-if="order_pg.TICKET_TYPE=='個人'">
                            <tbody>
                                <tr @click="thisOrderID(order_pg)">
                                    <td>訂單編號</td>
                                    <td>{{order_pg.ORDER_ID}}</td>
                                </tr>
                                <tr>
                                    <td>訂單日期</td>
                                    <td>{{order_pg.ORDER_DAY}}</td>
                                </tr>
                                <tr>
                                    <td>展覽名稱</td>
                                    <td>{{order_pg.EXHIBITION_NAME}}</td>

                                </tr>
                                <tr>
                                    <td>入館日期</td>
                                    <td>{{order_pg.VISIT_DAY}}</td>
                                </tr>
                                <tr>
                                    <td>費用總計</td>
                                    <td>{{order_pg.PRICE}}</td>

                                </tr>
                                <tr>
                                    <td>付款狀態</td>
                                    <td>{{order_pg.PAYMENT_STATUS == 1 ? '已付款' : '未付款'}}</td>

                                </tr>
                                <tr>
                                    <td>付款方式</td>
                                    <td>{{order_pg.PAYMENT_TYPE}}</td>

                                </tr>
                                <tr>
                                    <td>付款日期</td>
                                    <td>{{order_pg.PAYMENT_DAY}}</td>

                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>會員編號</td>
                                    <td>{{order_pg.MEMBER_ID}}</td>

                                </tr>
                                <tr>
                                    <td>會員電話</td>
                                    <td>{{order_pg.DELEGATE_PHONE}}</td>

                                </tr>
                                <tr>
                                    <td>會員姓名</td>
                                    <td>{{order_pg.DELEGATE_NAME}}</td>

                                </tr>
                                <tr>
                                    <td>成人票</td>
                                    <td>{{order_pg.ADULT_NUM}}</td>

                                </tr>
                                <tr>
                                    <td>優待票</td>
                                    <td>{{order_pg.DISCOUNT_NUM}}</td>

                                </tr>
                                <tr>
                                    <td>兒童票</td>
                                    <td>{{order_pg.CHILD_NUM}}</td>

                                </tr>
                                <tr>
                                    <td>語音導覽</td>
                                    <td>{{order_pg.VOICE_GUIDE}}</td>

                                </tr>
                                <tr>
                                    <td>付款帳號</td>
                                    <td>{{order_pg.PAYMENT_ACC}}</td>

                                </tr>
                            </tbody>
                        </template>

                        <template v-else="order_personal.TICKET_TYPE=='團體'">
                            <tbody>
                                <tr @click="thisOrderID(order_pg)">
                                    <td>訂單編號</td>
                                    <td>{{order_pg.ORDER_ID}}</td>
                                </tr>
                                <tr>
                                    <td>訂單日期</td>
                                    <td>{{order_pg.ORDER_DAY}}</td>
                                </tr>
                                <tr>
                                    <td>展覽名稱</td>
                                    <td>{{order_pg.EXHIBITION_NAME}}</td>

                                </tr>
                                <tr>
                                    <td>入館日期</td>
                                    <td>{{order_pg.VISIT_DAY}}</td>
                                </tr>
                                <tr>
                                    <td>費用總計</td>
                                    <td>{{order_pg.PRICE}}</td>

                                </tr>
                                <tr>
                                    <td>付款狀態</td>
                                    <td>{{order_pg.PAYMENT_STATUS == 1 ? '已付款' : '未付款'}}</td>

                                </tr>
                                <tr>
                                    <td>付款方式</td>
                                    <td>{{order_pg.PAYMENT_TYPE}}</td>

                                </tr>
                                <tr>
                                    <td>付款日期</td>
                                    <td>{{order_pg.PAYMENT_DAY}}</td>

                                </tr>
                                <tr>
                                    <td>(付款帳號)</td>
                                    <td>{{order_pg.PAYMENT_ACC ? order_pg.PAYMENT_ACC : '尚未設定' }}</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>會員編號</td>
                                    <td>{{order_pg.MEMBER_ID}}</td>
                                </tr>
                                <tr>
                                    <td>會員電話</td>
                                    <td>{{order_pg.DELEGATE_PHONE}}</td>

                                </tr>
                                <tr>
                                    <td>會員姓名</td>
                                    <td>{{order_pg.DELEGATE_NAME}}</td>
                                </tr>
                                <tr>
                                    <td>代表姓名</td>
                                    <td>{{order_pg.DELEGATE_NAME}}</td>
                                </tr>
                                <tr>
                                    <td>代表電話</td>
                                    <td>{{order_pg.DELEGATE_PHONE}}</td>
                                </tr>
                                <tr>
                                    <td>團體人數</td>
                                    <td>{{order_pg.GROUP_NUM}}</td>
                                </tr>
                                <tr>
                                    <td>語音導覽</td>
                                    <td>{{order_pg.VOICE_GUIDE ? order_pg.VOICE_GUIDE : '無'}}</td>
                                </tr>
                                <tr>
                                    <td>專人導覽</td>
                                    <td>{{order_pg.NAVIGATE_GUIDE ? order_pg.NAVIGATE_GUIDE : '無'}}</td>
                                </tr>
                            </tbody>
                        </template>
                    </table>
                </div>
                <button class="btn_s_default"><a href="./back_order.html">返回</a></button>
            </div>
        </div>

        <!-- footer -->
        <!-- @@include('./layout/footer.html') -->
    </div>

    <script>
      new Vue({
            el: '#app_back_order_personal',
            data: {
                order_pgArray: [],
            },
            mounted() {

                let get_order_id = sessionStorage.getItem('ORDER_ID');
                const api = `./php/back_order_personal.php?id=` + get_order_id; // 要從哪裡得到資料



                fetch(api, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        ID: get_order_id,
                    })
                })
                

                    .then(res => res.json())
                    .then(res => this.order_pgArray = res)
            },
        })

    </script>
    <script src="./js/back_loginStatus_logout.js"></script>
</body>

</html>