<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    @@include('./layout/head.html',{ "title":'新藝術運動' })
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
  </head>

  <body>
    <div id="ex_app" class="wrapper ex_info_wrapper">
      @@include('./layout/header.html')

      <!-- ====================================================== -->
      <!-- 上方大圖 -->
      <div class="ex_info_banner">
        <picture>
          <template v-if="packages">
            <source
              :srcset="'./images/'+ packages[0].MAIN_IMAGE[0]"
              media="(min-width:500px)"
            />
            <source
              :srcset="'./images/'+ packages[0].MAIN_IMAGE[1]"
              media="(max-width:500px)"
            />
            <img src="./images/" />
          </template>
        </picture>
      </div>
      <!-- 麵包屑 -->
      <!-- 連結待新增 -->
      <div class="ex_info_bread">
        <ul class="ex_center">
          <a href="./exhibition.html"
            ><li class="ex_info_bread1"><p>常設展覽</p></li></a
          >
          <li class="ex_info_bread2">
            <p>{{packages[0].EXHIBITION_TYPE}}</p>
          </li>
          <li class="ex_info_bread3"><p>{{packages[0].NAME}}</p></li>
        </ul>
      </div>
      <!-- 展覽簡介 -->
      <div class="ex_info_main ex_center">
        <!-- 標題區塊 -->
        <div class="title">
          <h2>{{packages[0].NAME}}</h2>
          <p>追朔藝術家們於館內展出的歷史典藏</p>
          <div></div>
        </div>

        <!-- 圖文區塊 -->
        <div class="ex_info_main_info">
          <!-- <img :src=`./images/${packages.SUB_IMAGE}` /> -->
          <img :src="'./images/' + packages[0].SUB_IMAGE" />
          <div class="ex_info_line"></div>

          <div class="ex_info_main_text">
            <h4>新藝術風格的繪畫作品</h4>
            <p>{{packages[0].INTRODUCTION}}</p>
          </div>
        </div>
      </div>
      <!-- 加入提醒 -->
      <div class="ex_info_join">
        <div class="ex_center">
          <h5>成為會員並接收最新展覽資訊</h5>
          <a href="./signin.html" class="btn_s_remind">加入會員</a>
        </div>
      </div>
      <!-- 相關藝術品 -->
      <div class="ex_info_art ex_center">
        <div class="title">
          <h3>代表性創作</h3>
          <p>追朔藝術家們於館內展出的歷史典藏</p>
          <div></div>
        </div>
        <!-- Vue Component -->
        <ex_info_img :msg="packages[0]"></ex_info_img>
        <!-- Vue Component -->
      </div>
      <!-- 購票提醒 -->
      <div class="ex_info_buy">
        <div class="ex_center">
          <h5>深入了解欣賞歷史文物</h5>
          <a href="./ticket.html" class="btn_s_remind">立即購票</a>
        </div>
      </div>
      <!-- 相關展覽 -->
      <div class="ex_info_other ex_center">
        <div class="title">
          <h3>過往展覽</h3>
          <p>追朔藝術家們於館內展出的歷史典藏</p>
          <div></div>
        </div>

        <!-- SWIPER -->
        <div class="ex_info_wrp">
          <div class="swiper mySwiper ex_info_like">
            <ul class="swiper-wrapper ex_center">
              <template v-if="packages.length >= 2">
                <li
                  @click="ex_infoID(packages[1])"
                  class="swiper-slide ex_info_like1"
                  :style="{backgroundImage: 'url(../images/ex_a'+packages[1].ID+'.jpg)'}"
                >
                  <a href="./exhibition_information.html">
                    <h3>{{packages[1].NAME}}</h3>
                  </a>
                </li>

                <template v-if="packages.length >= 3">
                  <li
                    @click="ex_infoID(packages[2])"
                    class="swiper-slide ex_info_like2"
                    :style="{backgroundImage: 'url(../images/ex_a'+packages[2].ID+'.jpg)'}"
                  >
                    <a href="./exhibition_information.html">
                      <h3>{{packages[2].NAME}}</h3>
                    </a>
                  </li>
                  <template v-if="packages.length >= 4">
                    <li
                      @click="ex_infoID(packages[3])"
                      class="swiper-slide ex_info_like3"
                      :style="{backgroundImage: 'url(../images/ex_a'+packages[3].ID+'.jpg)'}"
                    >
                      <a href="./exhibition_information.html">
                        <h3>{{packages[3].NAME}}</h3>
                      </a>
                    </li>
                    <template v-if="packages.length >= 5">
                      <li
                        @click="ex_infoID(packages[4])"
                        class="swiper-slide ex_info_like4"
                        :style="{backgroundImage: 'url(../images/ex_a'+packages[4].ID+'.jpg)'}"
                      >
                        <a href="./exhibition_information.html">
                          <h3>{{packages[4].NAME}}</h3>
                        </a>
                      </li>
                      <template v-if="packages.length >= 6">
                        <li
                          @click="ex_infoID(packages[5])"
                          class="swiper-slide ex_info_like5"
                          :style="{backgroundImage: 'url(../images/ex_a'+packages[5].ID+'.jpg)'}"
                        >
                          <a href="./exhibition_information.html">
                            <h3>{{packages[5].NAME}}</h3>
                          </a>
                        </li>
                      </template>
                    </template>
                  </template>
                </template>
              </template>
            </ul>
          </div>
          <!-- SWIPER -->
          <!-- 箭頭 -->
          <div class="ex_info_btn"></div>
          <i class="fa-solid fa-chevron-left arrow-left"></i>
          <i class="fa-solid fa-chevron-right arrow-right"></i>
        </div>
      </div>
      <!-- footer -->
      @@include('./layout/footer.html')
      <!-- footer -->
    </div>
    <!-- goTop 組件 -->
    @@include('./layout/goTop_component.html')
    <!-- goTop 組件 -->

    <!------------------ script --------------------->
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- 獨立 JS -->
    <script type="module" src="./js/ex_info.js"></script>
  </body>
</html>
