<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./layout/head.html', {
        'title' : '最新消息'
    })
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <!-- <script src="https:unpkg.com/vue@2"></script> -->
</head>
<body>
    <div class="wrapper">
        <!-- header -->
        @@include('./layout/header.html')
        <main>
            <div class="top_out">
                <!-- banner -->
                <div class="news_banner">
                    <h1 >最新消息</h1>
                </div>
                <!-- 兩則置頂消息 -->
                <div class="news_top">
                    <img src="./images/news_02.png" alt="">
                    <div class="news_top_word gsap_right">
                        <h3>新一季參觀須知及票價調整通知</h3>
                        <div>
                            <h4>2022.03.13  -  2022.06.31</h4>
                            <p>新一季常設展覽多出十九世紀主題，帶您遨遊在新藝術運動的世界。<br><br>因應本次新冠疫情，於中央流行疫情指揮中心宣布國門開放前，本館將持續施行藝文推廣專案，所有票價皆調降五十元新台幣。詳細資訊已統一更新於「關於我們 / 票價資訊」內，歡迎各位民眾前來參觀 溯‧REVERSE歷史藝術博物館!</p>
                        </div>
                    </div>
                </div>
                <div class="news_top">
                    <div class="news_top_word gsap_left">
                        <h3>歡迎來到 溯‧REVERSE博物館</h3>
                        <div>
                            <h4>2022.03.13  -  2022.06.31</h4>
                            <p>新一季常設展覽多出十九世紀主題，帶您遨遊在新藝術運動的世界。<br><br>因應本次新冠疫情，於中央流行疫情指揮中心宣布國門開放前，本館將持續施行藝文推廣專案，所有票價皆調降五十元新台幣。詳細資訊已統一更新於「關於我們 / 票價資訊」內，歡迎各位民眾前來參觀 溯‧REVERSE歷史藝術博物館!</p>
                        </div>
                    </div>
                    <img src="./images/news_03.png" alt="">
                </div>
            </div>
            
            <!-- vuevue -->
            <div id="app_news">
                <!-- 選擇消息類別的nav -->
                <nav class="news_nav news_becenter">
                    <!-- <h4 @click="content='all'"  v-bind:class="errorClass1">全部消息</h4>
                    <h4 @click="content='activity'"  v-bind:class="errorClass2">活動消息</h4>
                    <h4 @click="content='museum'" v-bind:class="errorClass3">館方消息</h4> -->
                    <!-- <h4 @click="content='museum'" v-bind:class="errorClass">館方消息</h4> -->
                    <!-- <h4 @click="content='all'"  v-bind:class="[{ active: isActive }, errorClass]">全部消息</h4>
                    <h4 @click="content='activity'"  v-bind:class="[{ active: isActive }, errorClass]">活動消息</h4>
                    <h4 @click="content='museum'"  v-bind:class="[{ active: isActive }, errorClass]">館方消息</h4> -->
                    <h4 @click="content='all', changeColor()"  v-bind:class="{'news_nav_choose': allNews}">全部消息</h4>
                    <h4 @click="content='museum', changeColor()"  v-bind:class="{'news_nav_choose': museumNews}">館方消息</h4>
                    <h4 @click="content='activity', changeColor()"  v-bind:class="{'news_nav_choose': activeNews}">活動消息</h4>
                    
                    <!-- <h4 v-for="news in newsTempArray" @click="changeColor">{{news}}</h4> -->
                </nav>
                <!-- 消息列 -->
                <Component :is='content'></Component>
            </div>    

                <!-- 消息頁數選擇 -->
                <ul class="news_page news_becenter">
                    <li>＜</li>
                    <li>01</li>
                    <li>02</li>
                    <li>03</li>
                    <li>04</li>
                    <li>05</li>
                    <li>＞</li>
                </ul>
            
        </main>
        <!-- footer -->
        @@include('./layout/footer.html')
        
    </div>

    <!-- vue -->
    <script>
        Vue.component('all', {
            data (){
                return{
                    imgPath: './images/',
                    newsArray: [
                        {   
                            news: 'news1',
                            title: '518博物館日 期間限定優惠',
                            content: '內容1', 
                            kind: '活動訊息',
                            date: '2022.05.13', 
                            image: 'news_07.png', 
                            alt: '518活動圖片'
                        },
                        {   
                            news: 'news2',
                            title: '新一季參觀須知及票價調整通知',
                            content: '內容2', 
                            kind: '館方訊息',
                            date: '2022.04.20', 
                            image: 'news_04.jpg', 
                            alt: '票價調整相關照片'
                        },
                        {   
                            news: 'news3',
                            title: '博物館振興券活動',
                            content: '內容3', 
                            kind: '活動訊息',
                            date: '2022.03.20', 
                            image: 'news_08.png', 
                            alt: '振興券活動相關圖片'
                        },
                        {   
                            news: 'news4',
                            title: '冬季館內定期整修公告',
                            content: '內容4', 
                            kind: '館方訊息',
                            date: '2021.11.20', 
                            image: 'news_06.png', 
                            alt: '館內相關照片'
                        },
                        {   
                            news: 'news5',
                            title: '歡迎來到 溯‧REVERSE博物館',
                            content: '內容5', 
                            kind: '館方訊息',
                            date: '2022.01.20', 
                            image: 'news_05.png', 
                            alt: '博物館外觀照片'
                        },                        
                    ],
                }
            },
            template: `
            <!-- 消息列 -->
            <ul class="news_list news_becenter">
                <li v-for="info in newsArray">
                    <a href="./news_01.html">
                        <!-- 圖片 -->
                        <div class="news_list_img">
                            <img :src="imgPath + info.image" :alt="info.alt"/>
                        </div>
                        <!-- 資訊卡中(特展、最新消息) -->
                        <div class="infocard_m">
                            <h3>{{info.title}}
                                <span>&rarr;</span>
                            </h3>
                            <h5>{{info.content}}</h5>
                            <div></div>
                            <h5>{{info.kind}}</h5>
                            <p>{{info.date}}</p>
                        </div>
                    </a>
                </li>
            </ul>
            `,
        })

        Vue.component('activity', {
            template: `
            <!-- 消息列 -->
            <ul class="news_list news_becenter">
                <li>
                    <a href="./news_01.html">
                        <!-- 圖片 -->
                        <div class="news_list_img">
                            <img src="./images/news_07.png" alt="518活動圖片">
                        </div>
                        <!-- 資訊卡中(特展、最新消息) -->
                        <div class="infocard_m">
                            <h3>518博物館日 期間限定優惠
                                <span>&rarr;</span>
                            </h3>
                            <h5>新一季常設展覽多出十九世紀主題，新一季常設展覽多出十九世紀主題......</h5>
                            <div></div>
                            <h5>活動訊息</h5>
                            <p>2022.05.13 -  2022.08.31</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./news_01.html">
                        <!-- 圖片 -->
                        <div class="news_list_img">
                            <img src="./images/news_08.png" alt="振興券活動圖片">
                        </div>
                        <!-- 資訊卡中(特展、最新消息) -->
                        <div class="infocard_m">
                            <h3>博物館振興券活動
                                <span>&rarr;</span>
                            </h3>
                            <h5>新一季常設展覽多出十九世紀主題</h5>
                            <div></div>
                            <h5>活動訊息</h5>
                            <p>2022.05.13 -  2022.08.31</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./news_01.html">
                        <!-- 圖片 -->
                        <div class="news_list_img">
                            <img src="./images/news_07.png" alt="518活動圖片">
                        </div>
                        <!-- 資訊卡中(特展、最新消息) -->
                        <div class="infocard_m">
                            <h3>518博物館日 期間限定優惠
                                <span>&rarr;</span>
                            </h3>
                            <h5>新一季常設展覽多出十九世紀主題，新一季常設展覽多出十九世紀主題......</h5>
                            <div></div>
                            <h5>活動訊息</h5>
                            <p>2022.05.13 -  2022.08.31</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./news_01.html">
                        <!-- 圖片 -->
                        <div class="news_list_img">
                            <img src="./images/news_08.png" alt="振興券活動圖片">
                        </div>
                        <!-- 資訊卡中(特展、最新消息) -->
                        <div class="infocard_m">
                            <h3>博物館振興券活動
                                <span>&rarr;</span>
                            </h3>
                            <h5>新一季常設展覽多出十九世紀主題</h5>
                            <div></div>
                            <h5>活動訊息</h5>
                            <p>2022.05.13 -  2022.08.31</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./news_01.html">
                        <!-- 圖片 -->
                        <div class="news_list_img">
                            <img src="./images/news_07.png" alt="518活動圖片">
                        </div>
                        <!-- 資訊卡中(特展、最新消息) -->
                        <div class="infocard_m">
                            <h3>518博物館日 期間限定優惠
                                <span>&rarr;</span>
                            </h3>
                            <h5>新一季常設展覽多出十九世紀主題，新一季常設展覽多出十九世紀主題......</h5>
                            <div></div>
                            <h5>活動訊息</h5>
                            <p>2022.05.13 -  2022.08.31</p>
                        </div>
                    </a>
                </li>
            </ul>
            `,
        })

        Vue.component('museum', {
            template: `
            <!-- 消息列 -->
            <ul class="news_list news_becenter">
                <li>
                    <a href="./news_01.html">
                        <!-- 圖片 -->
                        <div class="news_list_img">
                            <img src="./images/news_04.jpg" alt="票價調整相關照片">
                        </div>
                        <!-- 資訊卡中(特展、最新消息) -->
                        <div class="infocard_m">
                            <h3>新一季參觀須知及票價調整通知
                                <span>&rarr;</span>
                            </h3>
                            <h5>新一季常設展覽多出十九世紀主題，......</h5>
                            <div></div>
                            <h5>館方訊息</h5>
                            <p>2022.05.13 -  2022.08.31</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./news_01.html">
                        <!-- 圖片 -->
                        <div class="news_list_img">
                            <!-- 同置頂照片 -->
                            <img src="./images/news_06.png" alt="博物館照片">
                        </div>
                        <!-- 資訊卡中(特展、最新消息) -->
                        <div class="infocard_m">
                            <h3>冬季館內定期整修公告
                                <span>&rarr;</span>
                            </h3>
                            <h5>新一季常設展覽多出十九世紀主題，......</h5>
                            <div></div>
                            <h5>館方訊息</h5>
                            <p>2022.05.13 -  2022.08.31</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./news_01.html">
                        <!-- 圖片 -->
                        <div class="news_list_img">
                            <!-- 同置頂照片 -->
                            <img src="./images/news_05.png" alt="博物館外觀照">
                        </div>
                        <!-- 資訊卡中(特展、最新消息) -->
                        <div class="infocard_m">
                            <h3>歡迎來到 溯‧REVERSE博物館
                                <span>&rarr;</span>
                            </h3>
                            <h5>新一季常設展覽多出十九世紀主題，......</h5>
                            <div></div>
                            <h5>館方訊息</h5>
                            <p>2022.05.13 -  2022.08.31</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./news_01.html">
                        <!-- 圖片 -->
                        <div class="news_list_img">
                            <img src="./images/news_04.jpg" alt="票價調整相關照片">
                        </div>
                        <!-- 資訊卡中(特展、最新消息) -->
                        <div class="infocard_m">
                            <h3>新一季參觀須知及票價調整通知
                                <span>&rarr;</span>
                            </h3>
                            <h5>新一季常設展覽多出十九世紀主題，......</h5>
                            <div></div>
                            <h5>館方訊息</h5>
                            <p>2022.05.13 -  2022.08.31</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="./news_01.html">
                        <!-- 圖片 -->
                        <div class="news_list_img">
                            <!-- 同置頂照片 -->
                            <img src="./images/news_06.png" alt="博物館照片">
                        </div>
                        <!-- 資訊卡中(特展、最新消息) -->
                        <div class="infocard_m">
                            <h3>冬季館內定期整修公告
                                <span>&rarr;</span>
                            </h3>
                            <h5>新一季常設展覽多出十九世紀主題，......</h5>
                            <div></div>
                            <h5>館方訊息</h5>
                            <p>2022.05.13 -  2022.08.31</p>
                        </div>
                    </a>
                </li>
            </ul>
            `,
        })

        let news_vm = new Vue({
            el: '#app_news', 
            data: {
                // imgPath: './images/',
                content: 'all',
                // titles: ['518博物館日 期間限定優惠', '新一季參觀須知及票價調整通知', '博物館振興券活動', '冬季館內整修公告', '歡迎來到 溯‧REVERSE博物館'], 
                // contents: ['內容1', '內容2', '內容3', '內容4', '內容5'],
                // kind: ['館方訊息','活動訊息', '館方訊息', '活動訊息','活動訊息',],
                // date: ['date1', 'date2', 'date3', 'date4', 'date5'],
                // image: [],
                // news: {
                // },
                // news1: {
                //     title: '518博物館日 期間限定優惠',
                //     content: '內容1', 
                //     kind: '活動訊息',
                //     fromdate: '2022.05.13', 
                //     todate: '2022.08.31',
                //     image: 'news_07', 
                //     alt: '518活動圖片'
                // },
                // news2: {
                //     title: '新一季參觀須知及票價調整通知',
                //     content: '內容2', 
                //     kind: '館方訊息',
                //     date: 'date2', 
                //     image: 'img2'
                // },
                // news3: {
                //     title: '博物館振興券活動',
                //     content: '內容3', 
                //     kind: '館方訊息',
                //     date: 'date3', 
                //     image: 'img3'
                // },
                // news4: {
                //     title: '冬季館內整修公告',
                //     content: '內容4', 
                //     kind: '館方訊息',
                //     date: 'date4', 
                //     image: 'img4'
                // },
                // news5: {
                //     title: '歡迎來到 溯‧REVERSE博物館',
                //     content: '內容5', 
                //     kind: '館方訊息',
                //     date: 'date5', 
                //     image: 'img5'
                // },
                // newsTempArray: ['全部消息','活動消息','館方消息','館方消息1','館方消息2'],

                // errorClass1: {
                //     'news_nav_choose': true,
                // },

                // errorClass2: {
                //     'news_nav_choose': false,
                // },

                // errorClass3: {
                //     'news_nav_choose': false,
                // },
                // errorClass: {
                    //     'news_nav_choose': false,
                    // },
                // news_nav_choose1: {
                //     isActive: true,
                // },
                // news_nav_choose2: {
                //     isActive: false,
                // },
                // news_nav_choose3: {
                //     isActive: false,
                // },

                // news_nav_choose1: {
                //     isActive: true,
                // },
                // news_nav_choose2: {
                //     isActive: false,
                // },
                // news_nav_choose3: {
                //     isActive: false,
                // },
                // news_nav_choose1: true, 
                // news_nav_choose2: true, 
                // news_nav_choose3: false, 

                allNews: true, 
                museumNews: false,
                activeNews: false
            },
            // mounted(){
            //     this.$el.addEventListener('click', this.handler)
            // },
            // destroyed(){
            //     this.$el.removeEventListener('click', this.handler)
            // },
            methods: {
                // changeColor(){

                    // if(this.errorClass1.news_nav_choose == true){
                    //     this.errorClass2.news_nav_choose = false;
                    //     this.errorClass3.news_nav_choose = false;
                    // }else if(this.errorClass2.news_nav_choose == true){
                    //     this.errorClass1.news_nav_choose = false;
                    //     this.errorClass3.news_nav_choose = false;
                    // }else if(this.errorClass3.news_nav_choose == true){
                    //     this.errorClass1.news_nav_choose = false;
                    //     this.errorClass2.news_nav_choose = false;
                    // }

                    // if(this.news_nav_choose1 == true){
                    //     this.news_nav_choose2 = false;
                    //     this.news_nav_choose3 = false;
                    // }else if(this.news_nav_choose2 == true){
                    //     this.news_nav_choose1 = false;
                    //     this.news_nav_choose3 = false;
                    // }else if(this.news_nav_choose3 == true){
                    //     this.news_nav_choose1 = false;
                    //     this.news_nav_choose2 = false;
                    // }
                    
                    // if(this.content == 'all'){
                    //     news_nav_choose.isActive = true;
                    //     // news_nav_choose.isActive = false;
                    //     // news_nav_choose.isActive = false;
                    // }else if (this.content == 'activity'){
                    //     news_nav_choose.isActive = false;
                    //     // news_nav_choose.isActive = true;
                    //     // news_nav_choose.isActive = false;
                    // }else if(this.content == 'museum'){
                    //     // news_nav_choose.isActive = false;
                    //     // news_nav_choose.isActive = false;
                    //     news_nav_choose.isActive = true;
                    // }

                changeColor(){
                    if(this.content === 'all'){
                        this.allNews = true;
                        this.museumNews =false;
                        this.activeNews = false;
                    }else if(this.content === 'museum'){
                        this.allNews = false;
                        this.museumNews =true;
                        this.activeNews = false;
                    }else if(this.content === 'activity'){
                        this.allNews = false;
                        this.museumNews =false;
                        this.activeNews = true;
                    }
                },
                // errorClass(e){
                //     e.target.style.color = 'red'
                // }

                // 決定取多少內容，老師範例26
                // checkTitle(theTitle){
                //     return theTitle.slice(0, 18)
                // },
            },
            computed: {
                
            }
        })

    </script>

    <!-- gsap -->
    <script>
        // 5
        gsap.registerPlugin(ScrollTrigger);

        gsap.to(".gsap_right", {
        x: 0,
        scrollTrigger: {
            trigger: ".gsap_right",
            start: "top bottom",
            end: "top 100px",
            scrub: true,
            // markers: true,
            // id: "scrub"
        }
        });

        gsap.to(".gsap_left", {
        x: 0,
        scrollTrigger: {
            trigger: ".gsap_left",
            start: "top bottom",
            end: "top 100px",
            scrub: true,
            // markers: true,
            // id: "scrub"
        }
        });
            
    </script>

    <!-- AJAX php?(先php就好) -->
    <script>
        // document.addEventListener('load', () => {
        //     return ('aaa');
        // });

        // fetch('./php/news.php', {
        //     method: 'POST', 
        //     headers: {'Content-Type':'application'},
        //     body: JSON.stringify({})
        // })
        //     .then(res => resp.json())
        //     .then(body => {

        //     })

    </script>
    <!-- <?php?> -->

</body>
</html>