<!DOCTYPE html>
<html lang="en">
    <head>
        @@include('./layout/head.html', {
            "title" : "團體預約訂票"
        })
        <script type="module" src="./js/login.js"></script>
    </head>
    <body>
        <!-- <input type="checkbox" id="login_ckbox3" name="signin_sub" @change="alert('xxx')"> -->
        <div class="wrapper" id="login">
            <!-- header -->
            @@include('./layout/header.html')
            
            <!-- banner -->
            <div class="login_banner">
                <img src="./images/login_01.png" alt="">
            </div>


            <!-- <form> -->

                <!-- 上面 -->
                <div class="login_top signin_out">

                    <h2>團體預約訂票</h2>

                    <!-- 上面選單 -->
                    <ul>
                        <!-- 請選擇展覽 -->
                        <li>
                            <select name="exhibition" id="exhibition" v-model="exhibitionChoose">
                                <!-- <option v-for="exhibition in exhibitions" :value="exhibition">{{exhibition}}</option> -->
                                <!-- <option value="請選擇展覽" disabled>請選擇展覽</option> -->
                                <option v-for="(exhibition,index) in exhibitions" :value="exhiplace(exhibition,index)" :disabled="yesno(index)">{{exhibition}}</option>
                                <!-- <option value="普通常設展">普通常設展</option>
                                <option value="林布蘭·哈爾曼松">林布蘭·哈爾曼松</option>
                                <option value="奇怪殭屍展">奇怪殭屍展</option>
                                <option value="歷代皇帝展">歷代皇帝展</option>
                                <option value="琺瑯瓷器展">琺瑯瓷器展</option> -->
                            </select>
                        </li>

                        <!-- 請選擇日期 -->
                        <li>
                            <label for="date">
                                <!-- <input placeholder="請選擇日期" type="text" onfocus="(this.type = 'date')"  id="date"> -->
                                <input type="date" v-model="date">
                            </label>
                        </li>

                        <!-- 代表人姓名 -->
                        <li>
                            <input type="text" placeholder="代表人姓名">
                        </li>

                        <!-- 代表人電話 -->
                        <li>
                            <input type="tel" placeholder="代表人電話">
                        </li>

                        <!-- 請選擇人數 -->
                        <li>
                            <select name="group" id="group" v-model="groupCount">
                                <!-- <option value="請選擇人數" disabled selected>請選擇人數</option> -->
                                <option v-for="(group,index) in groups" :value="groupplace(group, index)" :disabled="yesno(index)">團體票 {{group}} 張</option>
                                <!-- <option v-for="group in groups">{{group}}</option> -->
                                <!-- <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option> -->
                            </select>
                        </li>

                        <!-- 語音導覽 -->
                        <li class="login_ckbox_out ckbox_center">
                            <div class="login_ckbox">
                                <label for="login_ckbox">
                                    <input type="checkbox" id="login_ckbox" name="signin_sub" v-model="pod" :value="pods">
                                    <span>免費索取語音導覽服務</span>
                                </label>
                            </div>
                        </li>

                        <li class="login_ckbox_out ckbox_center login_ckbox2">
                            <div class="login_ckbox">
                                <label for="login_ckbox2">
                                    <input type="checkbox" id="login_ckbox2" name="signin_sub" v-model="tour" :value="tours">
                                    <span>加購專人導覽服務NTD$500(團體需最少10人以上)</span>
                                </label>
                            </div>
                        </li>
                        
                    </ul>
                </div>

                <!-- 分隔線 -->
                <div class="login_line"></div>

                <!-- 小計 -->
                <div class="total">
                    <h3>小計</h3>
                    <table>
                        <tr>
                            <td colspan="2">展覽名稱</td>
                            <td colspan="2">{{exhibitionChoose}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">展覽日期</td>
                            <td colspan="2">{{date}}</td>
                        </tr>
                        <tr>
                            <td>團體票</td>
                            <td>X {{groupCount}}</td>
                            <td colspan="2">NT${{ticket}}</td>
                            <!-- <td></td> -->
                        </tr>

                        <tr>
                            <!-- <component :is="content"></component> -->
                            <td colspan="2">語音導覽</td>
                            <td colspan="2">共 {{pods}} 位</td>
                        </tr>
                        <tr>
                            <td colspan="2">專人導覽</td>
                            <!-- <td>X1</td>
                            <td>=</td> -->
                            <td colspan="2">NT${{tours}}</td>
                        </tr>
                        <tr class="cost">
                            <td colspan="4">總計 NT${{total}}</td>
                        </tr>
                    </table>
                </div>

                <!-- 分隔線 -->
                <div class="login_line"></div>

                <!-- 付款方式 -->
                <div class="payment ticket_pay">
                    <h3>請選擇付款方式</h3>
                    <ul>
                        <!-- 信用卡 -->
                        <li class="credit">
                            <label for="credit">
                                <input type="radio" name="pay" id="credit" value="信用卡"><span>信用卡</span>
                            </label>
                        </li>

                        <!-- ATM -->
                        <li>
                            <label for="atm">
                                <input type="radio" name="pay" id="atm" value="ATM"><span>ATM轉帳</span>
                            </label>
                        </li>
                    </ul>
                </div>

                <!-- 購票須知 -->
                <div class="notice">
                    <h3>購票須知</h3>
                    <ul>
                        <li>團體最少需10人以上，並於3日內完成付款，逾期自動取消預約。</li>
                        <li>本票券為即買即用的電子票，並僅於預約當日有效，請持電子票證(QR Code)，於本館指定入口掃描入館參觀。</li>
                        <li>訂購成功後，可於訂票系統 > 「訂單紀錄」 查看可使用電子票證(QR Code)。</li>
                        <li>本票券僅於預約日當天有效。未經使用之票券，請於「查詢訂單」頁面，申請退款作業。</li>
                        <li>系統無提供修改訂單功能，如欲變更人數、更改預約日期，請退票後重新預定。</li>
                        <li>如遇不可抗力之因素(包含但不限於颱風、地震、豪雨等天災)，考量民眾安全，主辦單位得辦理</li>
                        <li>延期或取消活動，並提前公告及聯繫，有未盡事宜，主辦單位保留修改、終止、變更活動內容細節之權利。</li>
                        <li>館內禁止吸菸及禁止攜帶寵物。</li>

                        <li>小朋友年滿3足歲且身高達95公分，未滿7歲幼童，可免費入場。</li>
                        <ol>
                            <li>7歲以上須購買全票，每位幼童須有一位大人陪同。</li>
                            <li>購買幼童票請攜帶相關證明文件，供取票時查驗，倘經現場驗票人員查驗不符合資格須現場以現金補足差額。</li>
                        </ol>

                        <li>退票將酌收手續費，並依退票日期分階段收取不同額度退票手續費區間：</li>
                        <ol>
                            <li>入場日前45~31日退票，免扣手續費。</li>
                            <li>入場日前30~4日，手續費扣票價20%。</li>
                            <li>入場日前3~1日，手續費扣票價30%。</li>
                            <li>入場日當天，且於入場前1小時，手續費扣票價50%。</li>
                            <li>近入場時間1小時內，將不予退票；如逾時，票券視同入場，無法退票。</li>
                            <li>逾期未取票視同入場，恕不接受退換票，或其他補救措施要求。</li>
                        </ol>
                    </ul>
                    <!-- 同意ck -->
                    <div class="login_ckbox ckbox_center">
                        <label for="login_ckbox3">
                            <input type="checkbox" v-model="check_note" @change="change_function" id="login_ckbox3" name="signin_sub">
                            <span>我已閱讀購票須知</span>
                        </label>
                    </div>
                </div>

                <!-- 按鈕 -->
                <div class="btn_center">
                    <button type="button" class="btn_s_remind" id="payment" @click="submit">付款</button>
                </div>
                    
            <!-- </form> -->
            
        </div>

        <!-- footer -->
        @@include('./layout/footer.html')


    </body>
</body>
</html>