    
    <div class="user">
        <div class="user_head"></div>
        <p>後臺管理員</p>
    </div>

    <ul>
        <li><a href="./back_chart.html"><i class="fa-solid fa-gear"></i>營運管理</a></li>
        <li><a href="./back_news.html"><i class="fa-solid fa-gear"></i>消息管理</a></li>
        
        <li><a><i class="fa-solid fa-gear"></i>展覽管理<i class="fa-solid fa-angle-right"></i></a></li>
        <ol>
            <li><a href="./back_events.html" class="kids">特別展覽</a></li>
            <li><a href="./back_exhibition.html" class="kids">常設展覽</a></li>
        </ol>

        <li><a href="./back_member.html"><i class="fa-solid fa-gear"></i>會員管理</a></li>
        
        <li><a href="./back_order.html"><i class="fa-solid fa-gear"></i>訂單管理</a></li>

        <li><a><i class="fa-solid fa-gear"></i>電子報系統<i class="fa-solid fa-angle-right"></i></a></li>
        <ol>
            <li><a href="./back_newsletter_subs.html" class="kids">訂閱名單</a></li>
            <li><a href="./back_newsletter_list.html" class="kids">電子報清單</a></li>
        </ol>

        <li id="logoutttt"><a href="#" class="logout">登出</a></li>
    </ul>
