
    <div class="user">
        <div class="user_head"></div>
        <p>USER102</p>
    </div>

    <ul>
        <li><a href="#"><i class="fa-solid fa-gear"></i>營運管理<i class="fa-solid fa-angle-right"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-gear"></i>消息管理<i class="fa-solid fa-angle-right"></i></a></li>
        
        <li><a href="#"><i class="fa-solid fa-gear"></i>展覽管理<i class="fa-solid fa-angle-right"></i></a></li>
        <ol>
            <li><a href="#" class="kids">特別展覽</a></li>
            <li><a href="#" class="kids">常設展覽</a></li>
        </ol>

        <li><a href="#"><i class="fa-solid fa-gear"></i>會員管理<i class="fa-solid fa-angle-right"></i></a></li>
        
        <li><a href="#"><i class="fa-solid fa-gear"></i>訂單管理<i class="fa-solid fa-angle-right"></i></a></li>
        <ol>
            <li><a href="#" class="kids">訂票管理</a></li>
            <li><a href="#" class="kids">退票管理</a></li>
        </ol>

        <li><a href="#"><i class="fa-solid fa-gear"></i>電子報系統<i class="fa-solid fa-angle-right"></i></a></li>
        <ol>
            <li><a href="#" class="kids">訂閱名單</a></li>
            <li><a href="#" class="kids">電子報清單</a></li>
        </ol>

        <li><a href="#" class="logout">登出</a></li>
    </ul>
