<!-- footer -->
<footer>
    <div class="footer_left">
        <h4>開放時間</h4>
        <p>週六 10:00 至 21:00<br>週二至週日 10:00 至 18:00</p>
        <h4>聯絡我們</h4>
        <p>104台北市中山區南京東路三段219號5樓<br>service@reverse.com<br>01-2345-6789</p>
    </div>
    <div class="footer_right">
        <h4>追蹤我們</h4>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <form action="">
            <h4>訂閱電子報</h4>
            <input type="email" name="" id="eletter_input" placeholder="請輸入您的電子信箱">
            <input class="btn_s_remind" id="eletter_sub" type="button" value="訂閱">
        </form>
        <p>© Copyright _REVERSE Museum. All Rights Reserved.</p>
    </div>
    <p class="footer_bottom">本網站為緯育TibaMe前端工程師班第78期學員專題作品，本平台僅供學習、展示之用。<br><a href="https://docs.google.com/document/d/1jbfX--aoTHWc9Grnrd8_tvy6OS00u8O7422Wx5O_AxE/edit">參考資源</a></p>
</footer>
