<header>
    <a href="../index.html" class="logo"><img src="./images/logo.png" alt=""></a>
    <nav>
        <ul class="header_ul header_out">
            <li class="header_about"><a href="../about.html">關於我們</a>
                <ul>
                    <li><a href="">緣起</a></li>
                    <li><a href="">票價資訊</a></li>
                    <li><a href="">導覽服務</a></li>
                    <li><a href="">開放時間</a></li>
                    <li><a href="">參觀須知</a></li>
                    <li><a href="">交通資訊</a></li>
                </ul>
            </li>
            <li><a href="../events.html">特別展覽</a></li>
            <li><a href="../exhibition.html">常設展覽</a></li>
            <li><a href="../news.html">最新消息</a></li>
            <li><a href="../ticket.html">線上購票</a></li>
            <li class="header_login"><a href="../login.html"><i class="fa-solid fa-user"></i></a>
                <ul class="header_login_false">
                    <li><a href="">會員登入</a></li>
                    <li><a href="">註冊會員</a></li>
                </ul>
                <ul class="header_login_true">
                    <li><a href="">會員資料</a></li>
                    <li><a href="">訂單紀錄</a></li>
                    <li><a href="">會員等級</a></li>
                    <li><a href="">登出</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="header_rwd">
            <li><a href="../ticket.html">線上購票</a></li>
            <li><a href="../login.html"><i class="fa-solid fa-user"></i></a></li>
            <li class="header_burger"><a>☰</a></li>
        </ul>
    </nav>
</header>
