//第一標題
.about1 {
    margin: 0 auto;
    width: size(1420);
    margin-top: size(72);

    .about1_img1 {
        width: size(1400);
        margin-bottom: size(58);
    }

    .about1_p {
        @include p();
        width: size(1080);
        line-height: 2;
        letter-spacing: size(5); //跟Figma不同
        margin-top: size(35); //跟Figma不同
        margin-left: size(35);
    }
}

.line_spacing {
    width: size(1660);
    height: size(3);
    margin-left: auto;
    margin-top: size(95);
    margin-bottom: size(95);
    background-color: $line_dark;
}

.about3 {
    margin: 0 auto;
    width: size(1420);

    .about3_inner {
        display: flex;
        width: size(1194);
        margin: 0 auto;
        margin-top: size(98);

        .about3_img1 {
            height: size(542);
            margin-right: size(51);
            margin-top: size(36);
        }

        .about3_straight {
            margin-right: size(55);
            margin-left: size(50);
            width: size(3);
            height: size(632);
            background-color: $btnhover_gray;
        }

        .about3_inner_right {
            h3 {
                @include h3();
                margin-top: size(28);
                margin-bottom: size(32);
            }

            p {
                @include p();
                line-height: 2;
                margin-bottom: size(33);
            }

            .about3_line {
                height: size(1);
                background-color: $btnhover_gray;
            }
        }
    }
}

.about4 {
    margin: 0 auto;
    width: size(1420);

    .about4_inner {
        display: flex;
        margin: 0 auto;
        width: size(1400);
        margin-top: size(95);

        .about4_inner_left {
            margin-right: size(97);

            .about4_img1 {
                width: size(880);
                margin-bottom: size(32);
            }
        }

        .about4_inner_right {
            h4 {
                @include h4();
                margin-bottom: size(33);
            }

            h5 {
                @include h5();
                margin-bottom: size(16);
                font-weight: lighter;
            }

            .about4_line {
                height: size(1);
                background-color: $btnhover_gray;
                margin-top: size(72);
                margin-bottom: size(72);
            }
        }
    }
}

hr {
    height: size(4);
    margin-left: auto;
    margin-top: size(95);
    margin-bottom: size(95);
    background-color: $line_dark;
}

.about5 {
    margin: 0 auto;
    width: size(1420);

    .about5_inner {
        margin: 0 auto;
        width: size(1380);


        .about5_inner_block {
            background-color: $black;
            margin: size(20) 0;

            h3 {
                @include h3();
                color: $white;
                height: size(60);
                line-height: size(60);
                margin-left: size(10);
            }
        }

        p {
            @include p();
            margin-bottom: size(30);
        }

        ul {
            margin-top: size(32);
            list-style: decimal;
            margin-left: size(20);
            //手機板 跑出去

            li {
                margin-bottom: size(32);

                p {
                    @include p();
                }
            }
        }

        img {
            margin-top: size(60);
        }
    }
}

.about6 {
    margin: 0 auto;
    width: size(1420);

    .about6_inner {
        margin: 0 auto;

        .about6_img1 {
            margin-top: size(74);
            height: size(480);
        }

        h4 {
            @include h4();
            margin-top: size(32);
            margin-left: size(35);
        }

        .about6_tip1 {
            margin-left: size(35);
            margin-top: size(70);

            h4 {
                @include h4();
            }

            .about6_line {
                background-color: $btnhover_gray;
                margin-top: size(35);
                margin-bottom: size(50);
                margin-left: size(35);
                height: size(1);
                width: size(300);
            }

            .about6_tip1_inner {
                margin-left: size(35);
                display: flex;

                ul {
                    width: size(350);

                    li {
                        margin-bottom: size(30);

                        p {
                            @include p();
                        }
                    }
                }

                h2 {
                    @include h2();
                    margin-top: size(30);
                }

                .station1 {
                    @include p();
                    margin-top: size(45);
                    margin-left: size(50);
                }
            }
        }

        .about6_tip2 {
            margin-left: size(35);
            margin-top: size(70);

            h4 {
                @include h4();
            }

            .notice1 {
                @include p();
                margin-top: size(50);
                margin-left: size(35);
            }

            .about6_line {
                background-color: $btnhover_gray;
                margin-top: size(35);
                margin-bottom: size(50);
                margin-left: size(35);
                height: size(1);
                width: size(300);
            }

            .about6_tip2_inner {
                margin-left: size(35);
                display: flex;

                ul {
                    width: size(350);

                    li {
                        margin-bottom: size(30);

                        p {
                            @include p();
                        }
                    }
                }

                h2 {
                    @include h2();
                    margin-top: size(30);
                }

                .station2 {
                    @include p();
                    margin-top: size(45);
                    margin-left: size(50);
                }
            }
        }

        .about6_tip3 {
            margin-left: size(35);
            margin-top: size(100);

            h4 {
                @include h4();
            }

            .about6_line {
                background-color: $btnhover_gray;
                margin-top: size(35);
                margin-bottom: size(50);
                margin-left: size(35);
                height: size(1);
                width: size(400);
            }

            p {
                @include p();
                margin-left: size(35);
            }
        }

        .about6_tip4 {
            margin-left: size(35);
            margin-top: size(100);

            h4 {
                @include h4();
            }

            .about6_line {
                background-color: $btnhover_gray;
                margin-top: size(35);
                margin-bottom: size(50);
                margin-left: size(35);
                height: size(1);
                width: size(400);
            }

            p {
                @include p();
                margin-left: size(35);
            }
        }





    }
}