// back_member




// =======back_member=========
.back_out{
    display: flex;
    background-color: $rice;
    // height: 200%;
    // 右邊
    .back_main{
        margin-left: size(320);
        height: 100vh;
        h2{
            font-size: size(40);
            // 字粗體
            font-weight: bold;
        }
    }
}

// ================= 有table的頁面 ================== // 

// 標頭(只有搜尋欄)
.back_table_title{
    display: flex;
    justify-content: space-between;
    h2{
        display: inline-block;
    }
}

// 標頭(有草稿、搜尋欄、新增)
.back_table_title{
    div{
        display: flex;
        align-items: center;
        input, span{
            margin-left: size(20);
        }
        span{
            display: inline-block;
            width: size(40);
            height: size(40);
            // background-color: $hf_black;
            font-size: size(32);
        }
    }
    .icon_edit{
        flex-grow: 1;
        margin-top: size(10);
        margin-left: size(40);
    }
    // 按鈕去除a樣式
    a{
        color: $black;
        text-decoration: none;
    }
}

// 圖表
.back_chart{
    // width: 100%;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    // // display: flex;
    // margin-top: size(40);
    // margin-bottom: size(120);
    // & > div{
    //     display: inline-block;
    //     width: auto;
    //     height: size(400);
    //     padding: size(20);
    //     div{
    //         // border: 1px solid;
    //         height: 100%;
    //         img{
    //             height: 100%;
    //         }
    //     }
    // }

    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: size(40);
    margin-bottom: size(120);

    // chart js mon
    div:nth-of-type(1){
        grid-row: 1 / 2 ; // startline / endline
        grid-column: 1 / 2 ; // startline / endline
        padding: size(20) size(30) size(20) 0;
    }
    // chart js people
    div:nth-of-type(2){
        grid-row: 1 / 3 ; // startline / endline
        grid-column: 2 / 3 ; // startline / endline
        padding: size(20) 0 size(20) size(20);
    }
    // chart js year
    div:nth-of-type(3){
        grid-row: 2 / 3 ; // startline / endline
        grid-column: 1 / 2 ; // startline / endline
        padding: size(20) size(30) size(20) 0;
    }
    // chart js sub
    div:nth-of-type(4){
        grid-row: 3 / 4 ; // startline / endline
        grid-column: 1 / 2 ; // startline / endline
        padding: size(20) size(30) size(20) 0;
    }
    & > div{
        // width: auto;
        // height: size(400);
        padding: size(20) size(30) size(20) 0;
    }

}

// 看要不要改整體
// 為了給後台的main寬度
.back_flexgrow{
    flex-grow: 1;
    // height: 100%;
}

// =================  ================== // 