.en_banner {
    width: 100%;
    height: 100vh;
    background: url('/images/entrance_01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    z-index: -999;
}

.en_txt {
    display: flex;
    justify-content: space-around;
}

.en_txt li{
    color: $black;
    @include h2();
    text-shadow: 2px 2px 10px white;
    line-height: 1.6;
}

.en_txt li:nth-child(1){
    margin-top: size(100);
}

.en_txt li:nth-child(2){
    margin-top: size(200);
}

.en_txt li:nth-child(3){
    margin-top: size(300);
}

.en_logobutton{
    background-color: black;
    width: size(150);
    height: size(150);
    // margin: 0 auto;
    margin-bottom: size(50)
}
