// *{
//     outline: 1px solid red;
// }

.event_0{

    margin-top:size(96) ;
    margin-bottom: size(160);
    h1{
        @include h1();
        color: $line_dark;
        margin-bottom: size(32);
        margin-left: size(258);        
    }
    .event_right_line{
        width: size(1660);
        height: size(3);
        float: right;
        background-color: $line_dark;
    }
}

.event_now{
    max-width: 100%;
    width: 100%;
    .event_now_top{
        h2{
            @include h2();
            line-height: size(70);
            margin-left: size(258);
        }
        .event_left_line{
            width: size(477);
            height: size(1.5); //寬度不同?
            background-color: $hf_black;
        }
    }
    .event_now_bottom{
        display: flex;
        // 直線
        .event_ver_line{
            margin-left: size(374);
            width: size(1);
            height: size(939);
            margin-top: size(272);
            background-color: $btnhover_gray;
        }
        // 當期展覽02
        .event_now_1{
           display: flex;
           margin-top: size(272);
           margin-left: size(190);
           .event_title1{
                margin-right: size(12);
                .event_no{
                    @include h3();
                }
                .event_name{
                    @include h3();
                    margin-top: size(246);
                    width: size(40);
                    line-height: size(50);
                }
           }
           .event_content1{
            position: relative;
            img{
                width:size(348) ;
                height:size(631) ;
            }
            .event_room{
                @include h4();
                position: absolute;
                right:size(8);
                top:size(593);
                color:$white;
            }
            .event_date{
                @include h4();
                width: size(296);
                margin-top: size(40);
            }
            h5{
                font-size: size(20);
                width: size(276);
                margin-top: size(16);
                color: #747474;
                font-weight:200;
                line-height: 1.4;
            }
           }
        }
        // 當期展覽01
        .event_now_2{
            display: flex;
            margin-top: size(64);
            margin-left: size(190);
            .event_title2{
                 margin-right: size(12);
                 .event_no{
                     @include h3();
                 }
                 .event_name{
                     @include h3();
                     margin-top: size(96);
                     width: size(40);
                     line-height: size(50);
                 }
            }
            .event_content2{
             position: relative;
             img{
                 width:size(348) ;
                 height:size(631) ;
             }
             .event_room{
                 @include h4();
                 position: absolute;
                 right:size(8);
                 top:size(593);
                 color:$white;
             }
             .event_date{
                 @include h4();
                 width: size(296);
                 margin-top: size(40);
 
             }
             h5{
                 font-size: size(20);
                 width: size(276);
                 margin-top: size(16);
                 color: #747474;
                 font-weight:200;
                 line-height: 1.4;
             }
            }
         }
    }
}

.event_full_line{
    width: 100%;
    max-width: 100%;
    background-color: $line_dark;
    height:size(3);
}

.event_future{
    display: flex;
    max-width: 100%;
    width: 100%;
    .event_future_left{
        margin-top: size(96);
        h2{
            @include h2();
            line-height: size(70);
            margin-left: size(258);
        }
        .event_left_line{
            width: size(477);
            height: size(1.5);
            background-color: $hf_black;
        }
    }
    .event_future_mid{
        margin-top: size(96);
        display: flex;
        // 展覽預告02
        .event_future_1{
            display: flex;
            margin-top: size(140);
            margin-left: size(88);
            .event_title1{
                 margin-right: size(12);
                 .event_no{
                     @include h3();
                 }
                 .event_name{
                     @include h3();
                     margin-top: size(300);
                     width: size(40);
                     line-height: size(50);
                 }
            }
            .event_content1{
             position: relative;
             img{
                 width:size(348) ;
                 height:size(631) ;
             }
             .event_room{
                 @include h4();
                 position: absolute;
                 right:size(8);
                 top:size(593);
                 color:$white;
             }
             .event_date{
                 @include h4();
                 width: size(296);
                 margin-top: size(40);
             }
             h5{
                 font-size: size(20);
                 width: size(276);
                 margin-top: size(16);
                 color: #747474;
                 font-weight:200;
                 line-height: 1.4;
             }
            }
         }
         // 展覽預告02
         .event_future_2{
             display: flex;
             margin-top: size(348);
             margin-left: size(190);
             .event_title2{
                  margin-right: size(12);
                  .event_no{
                      @include h3();
                  }
                  .event_name{
                      @include h3();
                      margin-top: size(350);
                      width: size(40);
                      line-height: size(50);
                  }
             }
             .event_content2{
              position: relative;
              img{
                  width:size(348) ;
                  height:size(631) ;
              }
              .event_room{
                  @include h4();
                  position: absolute;
                  right:size(8);
                  top:size(593);
                  color:$white;
              }
              .event_date{
                  @include h4();
                  width: size(296);
                  margin-top: size(40);
  
              }
              h5{
                  font-size: size(20);
                  width: size(276);
                  margin-top: size(16);
                  color: #747474;
                  font-weight:200;
                  line-height: 1.4;
              }
             }
          }
    }

    .event_future_right{
        width: size(1);
        height: size(1000);
        margin-left: size(132);
        background-color: $btnhover_gray;
    }
}

.event_right_line2{
    width: size(1660);
    margin-top: size(120);
    height: size(3);
    float: right;
    background-color: $line_dark;
}

.event_3{
    clear: both;
    padding-top: size(96);
    box-sizing: border-box;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    .event_pass_title{
        
        width: size(1400);
        margin: 0 auto;
        padding: 0 size(16) size(16);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: size(3) solid $line_mid;
        h2{
            @include h2();
        }
        select{
            width: size(148);
            height: size(32);
            @include h5();
            padding-left: size(8);
            line-height: size(32);
        }
    }
    .event_pass{
        &:hover{
            cursor: pointer;
        }
        line-height: 1.4;
        display: flex;
        margin: 0 auto;
        width: size(1311);
        border-bottom: size(1) solid $line_mid;
        .event_pass_img{
            margin-right: size(160);
            display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            div{
                overflow: hidden;
                width: size(428);
                img{
                    width: size(428);
                    &:hover{
                        transform: scale(1.1);
                        transition: all .3s ease-in-out;
                    }
                }
                
            }
        }

    }
}

.events_btn{
    width: size(1311);
    margin: size(64) auto size(96);
}
