// login.html
// signin.html
// member.html
// ticket.html
// signin_succ.html
// prime_pay.html
// member_info.html
// order.html
// ticket_personal.html
// ticket_group.html


// =======login.html========
// banner
.login_banner{
    width: 100%;
    img{
        width: 100%;
    }
}

// 上面
.login_top{
    @include input_out();
    margin-bottom: size(41);

    h2{
        color: $black;
        @include h2();
        text-align: center;
        margin: size(72) 0;
    }

    ul{
        margin: 0 auto;
        width: 100%;
        margin-bottom: size(39);
        // 電子信箱(帳號)/密碼
        li{
            input{
                width: 100%;
                @include input();
            }
        }

        // 記住我/忘記密碼
        .login_ckbox_out{
            display: flex;
            align-items: center;
            justify-content: space-between;

            // 忘記密碼
            a{
                @include p();
                color: $black;
            }
        }
    }

    // 按鈕
    .login_btn_out{
        display: flex;
        justify-content: center;

        // 記住我
        input{
            margin-right: size(96);
        }

        // 忘記密碼
        // a{}
    }
    
}


// 其他登入
.login_bottom{
    @include input_out();
    margin-top: size(72);
    h4{
        @include h4();
        color: $black;
        text-align: center;
        margin-bottom: size(32);
    }

    .login_icon{
        display: flex;
        justify-content: space-between;
        width: size(239);
        margin: 0 auto;
        a{
            
            img{
                width: size(45);
                
            }
        }
    }

}

// =======signin.html========

// 上面
.signin_out{
    // margin-bottom: size(64);

    ul{
        .ckbox_center{
            justify-content: center;
        }
    }
    // 按鈕
    .signin_btn_out{
    
        input{
            margin-right: 0!important;
        }
    }
}

// =========member.html===========

.member{
    width: size(1181);
    
    .center{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;

        li{
            width: size(303);
            height: size(303);
            border: size(2) solid $black;
            
            a{
                text-decoration: none;
                color: $black;
                @include h3();
                text-align: center;
                line-height: size(303);
                display: block;
            }
        }

    }
}

// =========ticket.html===========

.ticket{
    width: size(741);

    li{
        padding-top: size(110);

        a{
            line-height: size(44)!important;
        }
    }
}


// =======signin_succ.html========

// 上面
.succ_top{
    width: size(1200);

    h4{
        @include h4();
        text-align: center;
        margin-bottom: size(72);
    }

    // 按鈕
    .succ{
        margin-bottom: size(72);
        // 立即訂票 右
        // a{}

        // 會員中心 左
        .btn_succ{
            margin-right: size(135);
        }
    }
}

// prime
.prime{
    background-color: $rice;
    display: flex;
    justify-content: center;
    padding: size(72) 0;
    align-items: center;

    img{
        width: size(488);
        margin-right: size(100);
    }

    section{
        h3{
            @include h3();
            margin-bottom: size(46);
        }
    
        h4{
            @include h4();
            font-weight: normal;
            letter-spacing: 11.5%;
            line-height: 176%;
        }

    }
}

// prime介紹
.prime_bottom{
    padding-top: size(80);
    padding-left: size(402);
    display: flex;

    // prime 說明
    .prime_top{
        margin-right: size(130);
        h3{
            margin-bottom: size(32);
        }
    
        ul{
            li{
                margin-bottom: size(32);
                @include h4();

                i{
                    font-size: size(28);
                    margin-right: size(25);
                }
            }
        }
    }

    // 價錢按鈕
    .price{
        display: flex;
        align-items: flex-end;

        h3{
            @include h3();
            margin-right: size(44);
        }
        a{}
    }

}

// =========prime_pay.html===========

// prime 介紹
.prime_main{
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    // prime 說明
    .prime_pay{
        margin-right: 0;
        padding-bottom: size(53);
        h3{
            text-align: center;
            padding-bottom: size(41);
            @include h3();
        }

        ul{
            padding-left: size(130);
            li{
                
            }
        }
    }

    // 價錢按鈕
    .price_btn{
        padding-top: size(72);
        h3{
            @include h3();
            margin-bottom: size(72);
            text-align: center;
        }

        input{
            margin: 0 auto;
        }
    }
}

// 付款方式
.payment{
    padding: size(72) 0;
    h3{
        @include h3();
        margin-bottom: size(32);
        text-align: center;
    }

    // 信用卡 / atm
    ul{
        display: flex;
        justify-content: center;
        
        .credit{
            margin-right: size(40);
        }

        li{

            input{}

            span{
                @include p();
            }
        }
    }
}

// ========member_info.html==========

.wrapper .member_h2{
    @include h2();
    color: $black;
    text-align: center;
    padding: size(73) 0;
}

.member_out{
    display: flex;
    justify-content: center;
    width: size(1420);
    margin: 0 auto;

    // 右邊
    .member_right{
        flex-grow: 1;
        // margin-left: size(244);

        // 資料表格
        // ul>li>span
        ul{
            li{
                display: flex;
                margin-bottom: size(52);
                @include h4();
                // font-weight: normal;

                p{
                    margin-left: size(32);
                    @include h4();
                    font-weight: normal;
                }
            }

            // 會員條碼
            .member_code{
                // flex-direction: column;
                text-align: center;
                @include h3();
                margin-top: size(80);
                img{
                    margin: 0 auto;
                    width: size(295);
                    margin-top: size(32);
                }
            }
        }


        // table 找不到可以設定寬度的東東
        // table{
        //     // table-layout: fixed;
        //     // tbody{
        //         tr{
                    
        //             td{
        //                 padding-bottom: size(57);
        //                 // width: 50%;
        //                 @include h4();
        //                 font-weight: normal;
        //             }

        //             td:first-child{
        //                 width: size(190);
        //                 width: 30%;
        //             }

        //             .member_code{
        //                 width: 100%;
        //                 text-align: center;
        //             }

        //             .member_code_img{}

        //         }
        //     // }
        // }
    }
}

// 按鈕
.btn_center{
    margin: 0 auto;
    display: flex;
    justify-content: center;

    a{
        margin: 0 auto;
    }
}

// ===========order.html=============

// 按鈕
.order_btn{
    width: size(380);
    justify-content: space-between;
}

// =========ticket_personal.html========

// 上面
.signin_out{
    margin-bottom: size(53);

    // 上面選單
    ul{
        li{
            select{
                @include input();
            }
        }
    }
}

// 小計
.total{
    width: size(430);
    margin: 0 auto;
    margin-bottom: size(77);

    h3{
        @include h3();
        text-align: center;
        margin-top: size(78);
        margin-bottom: size(64);
    }

    table{
        width: 100%;
        tr{
            
            td{
                height: size(50);
                line-height: size(50);
                text-align: center;
                @include h5();
            }
        }
        
        .cost{
            // 分隔線
            border-top: size(1) solid $line_light;
            td{
                text-align: right;
            }
        }
    }
}

// 付款方式
.ticket_pay{
    margin-bottom: size(107);
}

// 購票須知

.notice{
    width: size(1216);
    margin: 0 auto;

    h3{
        text-align: center;
        @include h3();
        margin-bottom: size(32);
    }
    p{
        @include h4();
        font-weight: normal;
        line-height: size(41);

    }

    // 同意ck
    .ckbox_center{
        display: flex;
        justify-content: center;
        margin-top: size(40);
        margin-bottom: size(40);
    }

}

// ==========ticket_group.html==============

// 上面
// 專人導覽
.login_ckbox2{
    margin-top: size(32);
}