// login.html
// signin.html
// member.html
// ticket.html
// signin_suss.html
// prime_pay.html


// =======login.html========
// banner
.login_banner{
    width: 100%;
    img{
        width: 100%;
    }
}

// 上面
.login_top{
    @include input_out();

    h2{
        color: $black;
        @include h2();
        text-align: center;
        margin: size(72) 0;
    }

    ul{
        margin: 0 auto;
        width: 100%;
        margin-bottom: size(39);
        // 電子信箱(帳號)/密碼
        li{
            input{
                @include p();
                color: $black;
                border: none;
                border: 1px solid $line_mid;
                width: 100%;
                @include input();
            }
        }

        // 記住我/忘記密碼
        .login_ckbox_out{
            display: flex;
            align-items: center;
            justify-content: space-between;

            // 記住我
            .login_ckbox{
                #login_ckbox{
                    width: auto;
                    height: auto;
                    margin: auto;
                }
                span{
                    @include p();
                    color: $black;
                }
            }

            // 忘記密碼
            a{
                @include p();
                color: $black;
            }
        }
    }

    // 按鈕
    .login_btn_out{
        display: flex;
        justify-content: center;

        // 記住我
        input{
            margin-right: size(96);
        }

        // 忘記密碼
        // a{}
    }
    
}

// 分隔線
.login_line{
    width: size(1216);
    height: size(1);
    background-color: $black;
    margin: 0 auto;
    margin-bottom: size(72);
    margin-top: size(41);
}

// 其他登入
.login_bottom{
    @include input_out();
    // margin-bottom: size(72);
    h4{
        @include h4();
        color: $black;
        text-align: center;
        margin-bottom: size(32);
    }

    .login_icon{
        display: flex;
        justify-content: space-between;
        width: size(239);
        margin: 0 auto;
        a{
            
            img{
                width: size(45);
                
            }
        }
    }

}

// =======signin.html========

// 上面
.signin_out{
    // margin-bottom: size(64);

    ul{
        .ckbox_center{
            justify-content: center;
        }
    }
    // 按鈕
    .signin_btn_out{
    
        input{
            margin-right: 0!important;
        }
    }
}

// =========member.html===========

.member{
    width: size(1181);
    
    .center{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;

        li{
            width: size(303);
            height: size(303);
            border: size(2) solid $black;
            
            a{
                text-decoration: none;
                color: $black;
                @include h3();
                text-align: center;
                line-height: size(303);
                display: block;
            }
        }

    }
}

// =========ticket.html===========

.ticket{
    width: size(741);

    li{
        padding-top: size(110);

        a{
            line-height: size(44)!important;
        }
    }
}


// =======signin_suss.html========

// 上面
.succ_top{
    width: size(1200);

    h4{
        @include h4();
        text-align: center;
        margin-bottom: size(72);
    }

    // 按鈕
    .succ{
        margin-bottom: size(72);
        // 立即訂票 右
        // a{}

        // 會員中心 左
        .btn_succ{
            margin-right: size(135);
        }
    }
}

// prime
.prime{
    background-color: $rice;
    display: flex;
    justify-content: center;
    padding: size(72) 0;
    align-items: center;

    img{
        width: size(488);
        margin-right: size(100);
    }

    section{
        h3{
            @include h3();
            margin-bottom: size(46);
        }
    
        h4{
            @include h4();
            font-weight: normal;
            letter-spacing: 11.5%;
            line-height: 176%;
        }

    }
}

// prime介紹
.prime_bottom{
    padding-top: size(80);
    padding-left: size(402);
    display: flex;

    // prime 說明
    .prime_top{
        margin-right: size(130);
        h3{
            margin-bottom: size(32);
        }
    
        ul{
            li{
                margin-bottom: size(32);
                @include h4();

                i{
                    font-size: size(28);
                    margin-right: size(25);
                }
            }
        }
    }

    // 價錢按鈕
    .price{
        display: flex;
        align-items: flex-end;

        h3{
            @include h3();
            margin-right: size(44);
        }
        a{}
    }

}

// =========prime_pay.html===========

// prime 介紹
.prime_main{
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    // prime 說明
    .prime_pay{
        margin-right: 0;
        padding-bottom: size(53);
        h3{
            text-align: center;
            padding-bottom: size(41);
        }

        ul{
            padding-left: size(130);
            li{
                
            }
        }
    }

    // 分隔線
    .pr_line{
        margin-bottom: 0;
        margin-top: 0;
    }

    // 付款方式
    .payment{
        padding: size(72) 0;
        h3{
            @include h3();
            margin-bottom: size(32);
            text-align: center;
        }

        // 信用卡 / atm
        ul{
            display: flex;
            justify-content: center;
            
            .credit{
                margin-right: size(40);
            }

            li{

                input{}

                span{
                    @include p();
                }
            }
        }
    }

    // 價錢按鈕
    .price_btn{
        padding-top: size(72);
        h3{
            @include h3();
            margin-bottom: size(72);
            text-align: center;
        }

        input{
            margin: 0 auto;
        }
    }
}