// login.html               已切
// signin.html              已切
// member.html              沒切
// ticket.html              已切
// signin_succ.html         已切
// prime_pay.html           已切 但沒figma 手機板 所以照感覺

// member_info.html         明天弄
// order.html               不會寫

// level_normal.html        已切
// level_prime.html         已切

// ticket_personal.html     已切
// ticket_group.html        已切，語音導覽 的 第一個li 選不到 
//                          margin-bottom 太遠 



// here 字體按照figma的     (搜尋這個可以看到哪邊是按照figma)

// login.html
// signin.html
// forget.html
// member.html
// ticket.html
// signin_succ.html
// prime_pay.html
// member_info.html
// order.html
// order_list.html                  scss671行
// return_ticket.html
// ticket_personal.html
// ticket_group.html
// level_normal.html
// level_prime.html
// payment_atm_succ.html
// group_credit_succ.html

// =======login.html========
// banner
.login_banner{
    width: 100%;

    @include mobile(){
        display: none;
    }

    img{
        width: 100%;
    }
}

// 上面
.login_top{
    @include input_out();
    margin-bottom: size(41);

    @include mobile(){
        width: auto;
    }

    h2{
        color: $black;
        @include h2();
        text-align: center;
        margin: size(72) 0;

        @include mobile(){
            margin-bottom: rwd(32);
            margin-top: rwd(32);
        }
    }

    ul{
        margin: 0 auto;
        width: 100%;
        margin-bottom: size(39);
        // 電子信箱(帳號)/密碼

        li{
            input{
                width: 100%;
                @include input();

                @include mobile(){
                    display: block;
                    width: rwd(320);
                    height: rwd(40);
                    margin: 0 auto;
                    margin-bottom: rwd(20);
                }
            }
        }

        // 記住我/忘記密碼
        .login_ckbox_out{
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mobile(){
                width: rwd(320);
                margin: 0 auto;
                margin-bottom: rwd(32);
                margin-top: rwd(32);
            }

            // 忘記密碼
            a{
                @include p();
                color: $black;
            }

            input{
                @include mobile(){
                    display: inline-block;
                }
            }

            span{
                @include mobile(){
                    padding-left: rwd(5);
                }
            }
        }
    }
    


    // 按鈕
    .login_btn_out{
        display: flex;
        justify-content: center;

        @include mobile(){
            margin-bottom: rwd(33);
        }
        

        // 記住我
        input{
            margin-right: size(96);
        }

        // 忘記密碼
        // a{}
    }
    
}

.login_line{
    @include mobile(){
        width: rwd(350);
        height: rwd(1);
        margin-top: rwd(34);
        margin-bottom: rwd(34);
    }
}

// 其他登入
.login_bottom{
    @include input_out();
    margin-top: size(72);

    @include mobile(){
        width: auto;    
    }

    h4{
        @include h4();
        color: $black;
        text-align: center;
        margin-bottom: size(32);
    }

    .login_icon{
        display: flex;
        justify-content: space-between;
        width: size(239);
        margin: 0 auto;

        @include mobile(){
            width: rwd(120);
            margin-top: rwd(32);
        }

        a{
            
            img{
                width: size(45);

                @include mobile(){
                    width: rwd(35);    
                }
                
            }
        }
    }

}
 
// =======signin.html========

// 上面
.signin_out{
    // margin-bottom: size(64);

    ul{
        .ckbox_center{
            justify-content: center;
        }
    }
    // 按鈕
    .signin_btn_out{
    
        input{
            margin: 0 auto;
        }
    }
}

// =========forget.html===========
.forget{
    @include mobile(){
        li:nth-last-child(2){
            margin-bottom: 0 !important; 
        }
    }
    // 電子信箱flex
    .forget_btn{
        display: flex;
        justify-content: space-between;

        @include mobile(){
            input{
                margin: 0 rwd(8);
            }
            justify-content: center;
        }
        
        .forget_email{
            width: 78%;
            @include mobile(){
                width: 53%;
            }
        }
        .btn_s_default{
            width: 20%;
            padding: 0;
        }
    }
}



// =========member.html===========

.member{
    width: size(1181);
    
    .center{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;

        @include mobile(){
            display: block;
        }

        li{
            width: size(303);
            height: size(303);
            border: size(2) solid $black;

            @include mobile(){
                width: auto;
                padding: 0;
                margin-bottom: rwd(20);
                border: rwd(2) solid $black;

            }
            
            a{
                text-decoration: none;
                color: $black;
                @include h3();
                text-align: center;
                line-height: size(303);
                display: block;

                // here 字體按照figma的 
                @include mobile(){
                    font-size: rwd(20);
                }
            }
        }
    }
}

// =========ticket.html===========

.ticket{
    width: size(741);

    @include mobile(){
        width: rwd(250);
        margin-bottom: rwd(60);
    }

    li{
        padding-top: size(110);

        br{
            @include mobile(){
                display: none;
            }
        }

        a{
            line-height: size(44)!important;

            @include mobile(){
                line-height: rwd(60)!important;
            }
        }
    }
}


// =======signin_succ.html========

// 上面
.succ_top{
    width: size(1200);

    @include mobile(){
        width: auto;
    }

    h4{
        @include h4();
        text-align: center;
        margin-bottom: size(72);

        @include mobile(){
            margin: 0 auto;
            line-height: 1.5;
        }


        // here 字體按照figma的 
        @include mobile(){
            width: rwd(374);
            font-size: rwd(16);
            margin-bottom: rwd(32);
        }
    }

    // 按鈕
    .succ{
        margin-bottom: size(72);
        // 立即訂票 右
        // a{}

        @include mobile(){
            margin-bottom: rwd(60);
        }

        // here 按鈕跟figma不同
        // 會員中心 左
        .btn_succ{
            margin-right: size(135);
        }
    }
}

// prime
.prime{
    background-color: $rice;
    display: flex;
    justify-content: center;
    padding: size(72) 0;
    align-items: center;
    
    @include mobile(){
        display: block;
        padding-top: rwd(40);
    }

    img{
        width: size(488);
        margin-right: size(100);
        
        @include mobile(){
            width: rwd(374);
            display: block;
            margin: 0 auto;
        }
    }

    section{
        @include mobile(){
            width: rwd(374);
            margin: 0 auto;
            margin-bottom: rwd(20);
        }

        h3{
            @include h3();
            margin-bottom: size(46);

            // here 字體跟figma不同
            @include mobile(){
                font-size: rwd(20);
                margin-top: rwd(32)
            }
        }
    
        h4{
            @include h4();
            font-weight: normal;
            letter-spacing: 11.5%;
            line-height: 176%;

            // here 字體跟figma不同
            @include mobile(){
                font-size: rwd(16);
                margin-top: rwd(11);
            }
        }
    }
}

// prime介紹
.prime_bottom{
    padding-top: size(80);
    padding-left: size(402);
    display: flex;

    @include mobile(){
        padding: 0;
        display: block;
        margin-top: rwd(40);
        margin-bottom: rwd(40);
    }
}

    
    // 價錢按鈕
    .price{
        display: flex;
        align-items: flex-end;

        @include mobile(){
            display: block;
        }

        h3{
            @include h3();
            margin-right: size(44);

            @include mobile(){
                font-size: rwd(24);
                text-align: right;
                margin-bottom: rwd(32);
                margin-right: rwd(24);
                margin-top: rwd(32);
            }
        }

        a{
            @include mobile(){
                margin-left: auto;
                margin-right: rwd(24);
            }
        }
    }
    


// prime 說明
.prime_top{
    margin-right: size(130);
    h3{
        // margin-bottom: size(32);
        padding-bottom: size(41);
        @include h3();

        // here 字體跟figma不同
        @include mobile(){
            font-size: rwd(20);
            margin-left: rwd(20);
            margin-bottom: rwd(32);
        }
        color: $black;
    }

    ul{
        li{
            margin-bottom: size(32);
            @include h4();
            
            // here 字體跟figma不同
            @include mobile(){
                font-size: rwd(16);
                margin-bottom: rwd(20);
                margin-left: rwd(26);
            }

            i{
                font-size: size(28);
                margin-right: size(25);

            // here 字體跟figma不同            
                @include mobile(){
                    font-size: rwd(20);
                }
            }
        }
    }
}

// =========prime_pay.html===========

// prime 介紹
.prime_main{
    flex-direction: column;
    align-items: center;
    padding-left: 0;

    
    
    // 價錢按鈕
    .price_btn{
        padding-top: size(72);
        h3{
            @include h3();
            margin-bottom: size(72);
            text-align: center;

            @include mobile(){
                margin-bottom: rwd(30);
            }
            color: $black;
        }
        
        input{
            margin: 0 auto;
        }
    }
}

// prime 說明
.prime_pay{
    margin-right: 0;
    padding-bottom: size(53);

    @include mobile(){
        width: auto;
        padding: rwd(10);
    }

    h3{
        text-align: center;
        padding-bottom: size(41);
        @include h3();


        // here 字體跟figma不同            
        @include mobile(){
            width: auto;
            margin: 0 auto;
            margin-left: 0;
            font-size: rwd(24);
        }
    }

    ul{
        padding-left: size(130);

        @include mobile(){
            width: auto;
            padding: 0;
            margin: 0 auto;
            margin-top: rwd(20);
            text-align: left;
            width: rwd(220);

        }
        li{
            @include mobile(){
                margin-left: 0;
            }
        }
    }
}

// 付款方式
.payment{
    padding: size(72) 0;
    h3{
        @include h3();
        margin-bottom: size(32);
        text-align: center;

        @include mobile(){
            margin-bottom: rwd(32);
        }
    }

    // 信用卡 / atm
    ul{
        display: flex;
        justify-content: center;
        
        .credit{
            margin-right: size(40);
        }

        li{

            // input{}

            span{
                @include p();
            }
        }
    }
}

// ========member_info.html==========

.wrapper .member_h2{
    @include h2();
    color: $black;
    text-align: center;
    padding: size(73) 0;
    @include mobile(){
        // font-size: rwd(24);
        padding-bottom: rwd(33);
    }

}

.member_out{
    display: flex;
    justify-content: center;
    width: size(1420);
    margin: 0 auto;

    @include mobile(){
        // display: block;
        width: rwd(380);
    }
    

    // 右邊
    .member_right{
        flex-grow: 1;
        

        // 資料表格
        table{
            @include mobile(){
                margin: 0 auto;
            }
            tbody{
                tr{
                    
                    td{
                        padding-bottom: size(57);
                        @include h4();
                        color: $black;
                        font-weight: normal;
                        @include mobile(){
                            font-size: rwd(16);
                            padding: rwd(16) 0;
                        }
                    }

                    td:first-child{
                        width: size(190);
                        font-weight: bold;
                        @include mobile(){
                            width: auto;
                        }
                    }

                     // 會員條碼
                    .member_code{
                        vertical-align: top;
                    }

                    .member_code_img{
                        margin: 0 auto;
                        width: size(230);
                        // margin-top: size(32);

                        img{
                            width: size(200);
                            
                            @include mobile(){
                                width: rwd(200);
                                margin-bottom: rwd(20);
                            }
                        }
                    }

                }
            }
        }
    }
}

// 按鈕
.btn_center{
    margin: 0 auto;
    display: flex;
    justify-content: center;

    a{
        margin: 0 auto;
    }
}

// ===========order.html=============

// 按鈕
.wrapper{
    .order_btn{
        width: size(380);
        justify-content: space-between;
    
        @include mobile(){
            width: rwd(300);
            justify-content: space-between;

            input,a{
                margin: 0 auto;
            }

        }
    }

}

// ===========order_list.html===========

// 資料表格
.order_table{
    @include mobile(){
        margin:rwd(40) 0;
    }

    table{
        @include mobile(){
            margin: 0 auto;
            width: rwd(320);
            // line-height: 1.5;
            
        }
        tbody{
            margin-left:auto; 
            margin-right:auto;
            tr{
                
                td{
                    text-align: center;
                    width: 50%;
                    @include mobile(){
                        width: auto;
                        text-align: left;
                    }
                }

                // icon
                .order_icon{
                    // padding-top: size(50);
                    vertical-align:middle;
                    width: 20%;
                    @include mobile {
                        width: rwd(4);
                        
                    }
                    
                    a{
                        color: $black;
                    }

                    .fa-angle-right{
                        font-size: size(40);
                        vertical-align: middle;
                        @include mobile {
                            font-size: rwd(20);
                        }
                    }
                }
            }
        }
    }

}

// 分隔線
.order_line{
    background-color: $black;
    width: size(659);
    height: size(1);
    margin-bottom: size(52);
    @include mobile(){
        margin: rwd(10) auto;
        width: rwd(360);
        
    }
}

// =========return_ticket.html==========

.payment{

    // 退票說明
    h4{
        @include h4();
        color: $black;
        text-align: center;
        margin-top: size(72);
        @include mobile(){
            font-size: rwd(16);
            padding: 0 rwd(10);
            margin: rwd(20);
            line-height: rwd(30);
        }
    }
    
}



// =========ticket_personal.html========

// 上面
.signin_out{
    margin-bottom: size(53);

    // 上面選單
    ul{
        li{
            @include mobile(){
                text-align: center;
                margin-bottom: rwd(15);

                &:nth-last-child(2){
                    margin-bottom: rwd(50);
                }
            }

            select{
                @include input();
                @include mobile(){
                    
                    width: rwd(320);
                    height: rwd(40);
                    border: rwd(2) solid $black;
                    font-weight: lighter;
                }
            }
        }
    }
}

// 小計
.total{
    width: size(430);
    margin: 0 auto;
    margin-bottom: size(77);

    @include  mobile(){
        width: auto;
    }

    h3{
        @include h3();
        text-align: center;
        margin-top: size(78);
        margin-bottom: size(64);
    }

    table{
        width: 100%;
        
        @include mobile(){
            line-height: 2;
            width: rwd(380);
        }

        tr{
            
            td{
                height: size(50);
                line-height: size(50);
                text-align: center;
                @include h5();

                @include mobile(){
                    line-height: 3;
                    height: rwd(60);
                }
            }
        }
        
        .cost{
            // 分隔線
            border-top: size(1) solid $line_light;
            
            @include mobile(){
                height: rwd(80);
            }

            td{
                text-align: right;
                
                @include mobile(){
                    line-height: 3;
                    width: rwd(200);
                }
            }
        }
    }
}

// 付款方式
.ticket_pay{
    margin-bottom: size(107);

    @include mobile(){
        margin-bottom: rwd(50);
    }
}

// 購票須知

.notice{
    width: size(1216);
    margin: 0 auto;
    box-sizing: border-box;
    

    @include mobile(){
        width: rwd(380);
        margin: 0 auto;
    }

    h3{
        text-align: center;
        @include h3();
        margin-bottom: size(32);

        @include mobile(){
            margin-bottom: rwd(21);
        }
        color: $black;
    }

    ul{
        list-style-type: decimal;
        @include mobile(){
            padding-left: rwd(25);
            box-sizing: border-box;
            margin: 0 auto;
        }

        li{
            @include h4();
            font-weight: normal;
            line-height: size(41);
            color: $black;

            //字體跟figma不同
            @include mobile(){
                line-height: 2;
                width: auto;
                font-size: rwd(16);
                margin: 0 auto;
            }
        }

        ol{
            list-style-type: lower-alpha;
            padding-left: size(24);
            @include mobile(){
                padding-left: rwd(15);
            }
            
        }
    }
    
    // 同意ck
    .ckbox_center{
        display: flex;
        justify-content: center;
        margin-top: size(40);
        margin-bottom: size(40);

        @include mobile(){
            margin-bottom: rwd(20);
        }
    }
}

// ==========ticket_group.html==============

// 上面
// 專人導覽
.login_ckbox2{
    margin-top: size(32);
}

// =========level_normal.html===============

// level圈圈
.level{
    position: relative;
    margin-left: size(60);
    margin-top: size(130);
    @include mobile{
        margin: rwd(64) auto;
    };
    img{
        position: absolute;
        width: size(154);
        top: size(-130);
        left: size(160);
        @include mobile{
            width: rwd(51);
            top: rwd(-40);
            left: 0;
            right: 0;
            margin: auto;
        };
    }
    // 圈
    .circle{
        width: size(449);
        height: size(449);
        border-radius: 50%;
        border: size(24) solid $black;
        box-sizing: border-box;
        @include mobile{
            width: rwd(146);
            height: rwd(146);
            border: rwd(8) solid $black;
            margin: 0 auto;
        };
        p{
            font-size: size(80);
            font-weight: bold;
            text-align: center;
            line-height: size(401);
            color: $black;
            @include mobile{
                font-size: rwd(24);
                line-height: rwd(130);
            };
        }
    }
}

// prime 說明
.prime_level{
    margin-top: size(112);
    @include mobile {
        h3{
            font-size: rwd(20);
            margin-left: rwd(20);
            margin-bottom: rwd(32);
        }
    }
    ul{
        margin-bottom: size(71);
        @include mobile {
            margin-bottom: rwd(60);
        }
        li{
            margin-bottom: size(38)!important;
            @include mobile {
                font-size: rwd(16)!important;
                margin-bottom: rwd(20)!important;
                margin-left: rwd(26)!important;
            }
        }
    }
}

.login_btn_out {
    @include mobile{
        a,input{
            margin: 0 auto;
        }
    }
}

// =========level_prime.html===============

.level{
    // prime皇冠
    .queen{
        top: size(-90);
        left: size(-30);
        @include mobile{
            top: rwd(-35);
            left: rwd(-100);
        };
    }
}

// ==========payment_atm_succ.html=======

.payment_succ{
    form{
        margin-bottom: size(146);

        ul{
            display: flex;
            justify-content: center;

            @include mobile(){
                flex-direction: column;
                margin: 0;
            }
            li{
                text-align: center;
                margin-right: size(20);
                @include h4();
                font-weight: normal;

                @include mobile(){
                    font-size: rwd(16);
                    margin-bottom: rwd(21);
                }
            }
        }
    }

    h4{
        margin-top: size(68);
        line-height: size(48);

        @include mobile(){
            line-height: rwd(30);
            margin: auto;
        }
    }

}

// =======group_credit_succ.html===========

.payment_succ{
    img{
        width: size(295);
        margin-left: size(452.5);

        @include mobile(){
            display: block;
            margin: rwd(50) auto;
            // margin-top: rwd(20);
            width: rwd(200);
        }
    }

    @include mobile(){
        h2{
            margin-top: rwd(30);
        }

        h4{
            margin: rwd(20) auto;
        }

        ul:nth-of-type(3){
            display: block;
            width: rwd(250);
            margin: 0 auto;

            li{
                text-align: left;
                margin-bottom: rwd(10);
            }
        }
    }
}