// 網頁基本色/字體顏色
$black: #292929;
$white: #FFFFFF;
$lightgray: #D6D6D6;
$darkgray: #747474;
$red: #AE2000;
$rice: #F0EFEB;

// 線
$line_light: #DDDDDD;
$line_mid: #8C8C8C;
$line_dark: #292929;

// 頁首頁尾
$hf_black: #3F3F3F;

// BUTTON HOVER
$btnhover_red: #FF3434;
$btnhover_gray: #D6D6D6;
