// 強調色
$red: #EC5938;

// 頁首頁尾深灰
$darkgray: #3F3F3F;

// 次要、提示
$graytip : #D6D6D6;

// 底色
$white: #FFFFFF;

// 基本色
$darkbasic: #F0EFEB;
$lightbasic: #292929;  // 黑字色

// line
$lightline: #DDDDDD;
$darkline: #8c8c8c;

// 深色按鈕
$darkbtn: #AE2000;
