// 按鈕
@mixin btn($w, $h, $bgc, $color, $bgc_hover) {
    width: size($w);
    height: size($h);
    display: block;
    text-decoration: none;
    line-height: size($h);
    @include p();  // 字級
    background-color: $bgc;
    color: $color;
    cursor: pointer;
    box-sizing: border-box;

    // input用
    border: none;
    font-family: 'Noto Sans TC', sans-serif;
    padding: 0;
    transition: all .3s ease;
    &:hover{
        background: $bgc_hover;
    }
}

// 按鈕(寬100，灰色)
.btn_s_default{
    @include btn(100, 40, $white, $black, $lightgray);
    border: 1px solid $line_mid;
    text-align: center;
    @include mobile(){
        padding-left: rwd(8);
        padding-right: rwd(8);
        width: rwd(100);
        height: rwd(40);
        line-height: rwd(40);
    }
}

// 按鈕(寬100，紅色)
.btn_s_remind{
    @include btn(100, 40, $red, $white, $btnhover_red);
    text-align: center;
    @include mobile(){
        padding-left: rwd(8);
        padding-right: rwd(8);
        width: rwd(100);
        height: rwd(40);
        line-height: rwd(40);
    }
}

// 按鈕(寬250，紅色)
.btn_m{
    @include btn(250, 40, $red, $white, $btnhover_red);
    padding-left: size(16);
    padding-right: size(16);
    display: flex;
    justify-content: space-between;
    @include mobile(){
        padding-left: rwd(8);
        padding-right: rwd(8);
        // width: rwd(250);
        width: rwd(311);
        height: rwd(40);
        line-height: rwd(40);
    }
}

// 按鈕(寬530，紅色)
.btn_l{
    @include btn(530, 40, $red, $white, $btnhover_red);
    padding-left: size(16);
    padding-right: size(16);
    display: flex;
    justify-content: space-between;
    @include mobile(){
        padding-left: rwd(8);
        padding-right: rwd(8);
        width: rwd(333);
        height: rwd(40);
        line-height: rwd(40);
    }
}

// 按鈕(寬685，紅色)
.btn_xl{
    @include btn(685, 40, $red, $white, $btnhover_red);
    padding-left: size(16);
    padding-right: size(16);
    display: flex;
    justify-content: space-between;
    @include mobile(){
        padding-left: rwd(8);
        padding-right: rwd(8);
        width: rwd(333);
        height: rwd(40);
        line-height: rwd(40);
    }
}
