// 標題(首頁、關於我們、常設展內頁皆有用到)
.title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: size(1400);
    h2{
        @include h2();
    }
    p{
        @include p();
        color: $darkgray;
        @include mobile(){
            display: none;
        }
    }
    div{
        width: 100%;
        height: size(3);
        background-color: $line_light;
        margin-top: size(16);
        @include mobile(){
            margin-top: rwd(16);
            height: rwd(3);
        }
    }
}



